{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" input type="hidden" id="save_stay" name="save_stay" value="1" data-toggle="tooltip" title="{{ button_save_stay }}" class="btn btn-success"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1> <span class="badge">{{ versao }}</span>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-geral" data-toggle="tab">{{ tab_geral }}</a></li>
            <li><a href="#tab-api" data-toggle="tab">{{ tab_api }}</a></li>
            <li><a href="#tab-situacoes" data-toggle="tab">{{ tab_situacoes }}</a></li>
            <li><a href="#tab-campos" data-toggle="tab">{{ tab_campos }}</a></li>
            <li><a href="#tab-finalizacao" data-toggle="tab">{{ tab_finalizacao }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-geral">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_geral }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_chave }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_chave }}</span>
                </div>
                <div class="col-sm-6">
                  {% set id = 0 %}
                  <h5><strong>{{ store_default }}</strong></h5>
                  <input type="text" name="payment_cielo_chave[{{ id }}]" value="{{ payment_cielo_chave[id] }}" placeholder="" class="form-control" />
                  <br>
                  {% for store in stores %}
                  {% set id = store.store_id %}
                  <h5><strong>{{ store.name }}</strong></h5>
                  {% if store.store_id in payment_cielo_chave|keys %}
                  <input type="text" name="payment_cielo_chave[{{ id }}]" value="{{ payment_cielo_chave[id] }}" placeholder="" class="form-control" />
                  {% else %}
                  <input type="text" name="payment_cielo_chave[{{ id }}]" value="" placeholder="" class="form-control" />
                  {% endif %}
                  {% endfor %}
                  {% if error_chave %}
                  <div class="text-danger">{{ error_chave }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_lojas }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_lojas }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    <div class="checkbox">
                      <label>
                        {% if '0' in payment_cielo_stores %}
                        <input type="checkbox" name="payment_cielo_stores[]" value="0" checked="checked" />
                        {{ store_default }}
                        {% else %}
                        <input type="checkbox" name="payment_cielo_stores[]" value="0" />
                        {{ store_default }}
                        {% endif %}
                      </label>
                    </div>
                    {% for store in stores %}
                    <div class="checkbox">
                      <label>
                        {% if store.store_id in payment_cielo_stores %}
                        <input type="checkbox" name="payment_cielo_stores[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="payment_cielo_stores[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                  {% if error_stores %}
                  <div class="text-danger">{{ error_stores }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_tipos_clientes }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_tipos_clientes }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for customer_group in customer_groups %}
                    <div class="checkbox">
                      <label>
                        {% if customer_group.customer_group_id in payment_cielo_customer_groups %}
                        <input type="checkbox" name="payment_cielo_customer_groups[]" value="{{ customer_group.customer_group_id }}" checked="checked" />
                        {{ customer_group.name }}
                        {% else %}
                        <input type="checkbox" name="payment_cielo_customer_groups[]" value="{{ customer_group.customer_group_id }}" />
                        {{ customer_group.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                  {% if error_customer_groups %}
                  <div class="text-danger">{{ error_customer_groups }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_total }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_total }}</span>
                </div>
                <div class="col-sm-3">
                  <input type="text" name="payment_cielo_total" value="{{ payment_cielo_total }}" placeholder="" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_geo_zone }}</strong></h5>
                </div>
                <div class="col-sm-3">
                  <select name="payment_cielo_geo_zone_id" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                    {% if geo_zone.geo_zone_id == payment_cielo_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                    {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_status }}</strong></h5>
                </div>
                <div class="col-sm-2">
                  <select name="payment_cielo_status" class="form-control">
                    {% if payment_cielo_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_sort_order }}</strong></h5>
                </div>
                <div class="col-sm-2">
                  <input type="text" name="payment_cielo_sort_order" value="{{ payment_cielo_sort_order }}" placeholder="" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-api">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_api }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_urls }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_urls }}</span>
                </div>
                <div class="col-sm-9">
                  <strong>{{ text_url_retorno }}</strong> {{ url_retorno }}<br>
                  <strong>{{ text_url_notificacao }}</strong> {{ url_notificacao }}<br>
                  <strong>{{ text_url_status }}</strong> {{ url_status }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_merchant_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_merchant_id }}</span>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="payment_cielo_merchant_id" value="{{ payment_cielo_merchant_id }}" placeholder="" class="form-control" />
                  {% if error_merchant_id %}
                  <div class="text-danger">{{ error_merchant_id }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_soft_descriptor }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_soft_descriptor }}</span>
                </div>
                <div class="col-sm-4">
                  <input type="text" name="payment_cielo_soft_descriptor" value="{{ payment_cielo_soft_descriptor }}" placeholder="" class="form-control" />
                  {% if error_soft_descriptor %}
                  <div class="text-danger">{{ error_soft_descriptor }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_antifraude }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_antifraude }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="payment_cielo_antifraude" class="form-control">
                    {% if payment_cielo_antifraude %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_debug }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_debug }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="payment_cielo_debug" class="form-control">
                    {% if payment_cielo_debug %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_desconto_credito }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_desconto_credito }}</span>
                </div>
                <div class="col-sm-2">
                  <input type="text" name="payment_cielo_desconto_credito" value="{{ payment_cielo_desconto_credito }}" placeholder="" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_desconto_debito }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_desconto_debito }}</span>
                </div>
                <div class="col-sm-2">
                  <input type="text" name="payment_cielo_desconto_debito" value="{{ payment_cielo_desconto_debito }}" placeholder="" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_desconto_boleto }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_desconto_boleto }}</span>
                </div>
                <div class="col-sm-2">
                  <input type="text" name="payment_cielo_desconto_boleto" value="{{ payment_cielo_desconto_boleto }}" placeholder="" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_desconto_extension }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_desconto_extension }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_desconto_extension" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% for total in totals %}
                    {% if payment_cielo_desconto_extension == total.code %}
                    <option value="{{ total.code }}" selected="selected">{{ total.name }}</option>
                    {% else %}
                    <option value="{{ total.code }}">{{ total.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-situacoes">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_situacoes }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_pendente }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_pendente }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_pendente_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_pendente_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_pago }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_pago }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_pago_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_pago_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_negado }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_negado }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_negado_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_negado_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_cancelado }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_cancelado }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_cancelado_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_cancelado_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_nao_finalizado }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_nao_finalizado }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_nao_finalizado_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_nao_finalizado_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_situacao_autorizado }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_situacao_autorizado }}</span>
                </div>
                <div class="col-sm-4">
                  <select name="payment_cielo_situacao_autorizado_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_cielo_situacao_autorizado_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-campos">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_campos }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custom_razao_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custom_razao_id }}</span>
                </div>
                <div class="col-sm-4">
                  <label>{{ text_campo }}</label>
                  <select name="payment_cielo_custom_razao_id" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% if payment_cielo_custom_razao_id == 'N' %}
                    <option value="N" selected="selected">{{ text_coluna }}</option>
                    {% else %}
                    <option value="N">{{ text_coluna }}</option>
                    {% endif %}
                    {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'account' %}
                    {% if custom_field.type == 'text' %}
                    {% if custom_field.custom_field_id == payment_cielo_custom_razao_id %}
                    <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                    {% else %}
                    <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-4" id="razao_coluna">
                  <label>{{ text_razao }}</label>
                  <select name="payment_cielo_razao_coluna" class="form-control">
                    <option value=""></option>
                    {% for column in columns %}
                    {% if column.Field == payment_cielo_razao_coluna %}
                    <option value="{{ column.Field }}" selected="selected">{{ column.Field }}</option>
                    {% else %}
                    <option value="{{ column.Field }}">{{ column.Field }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_razao %}
                  <div class="text-danger">{{ error_razao }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custom_cnpj_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custom_cnpj_id }}</span>
                </div>
                <div class="col-sm-4">
                  <label>{{ text_campo }}</label>
                  <select name="payment_cielo_custom_cnpj_id" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% if payment_cielo_custom_cnpj_id == 'N' %}
                    <option value="N" selected="selected">{{ text_coluna }}</option>
                    {% else %}
                    <option value="N">{{ text_coluna }}</option>
                    {% endif %}
                    {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'account' %}
                    {% if custom_field.type == 'text' %}
                    {% if custom_field.custom_field_id == payment_cielo_custom_cnpj_id %}
                    <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                    {% else %}
                    <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-4" id="cnpj_coluna">
                  <label>{{ text_cnpj }}</label>
                  <select name="payment_cielo_cnpj_coluna" class="form-control">
                    <option value=""></option>
                    {% for column in columns %}
                    {% if column.Field == payment_cielo_cnpj_coluna %}
                    <option value="{{ column.Field }}" selected="selected">{{ column.Field }}</option>
                    {% else %}
                    <option value="{{ column.Field }}">{{ column.Field }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_cnpj %}
                  <div class="text-danger">{{ error_cnpj }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custom_cpf_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custom_cpf_id }}</span>
                </div>
                <div class="col-sm-4">
                  <label>{{ text_campo }}</label>
                  <select name="payment_cielo_custom_cpf_id" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% if payment_cielo_custom_cpf_id == 'N' %}
                    <option value="N" selected="selected">{{ text_coluna }}</option>
                    {% else %}
                    <option value="N">{{ text_coluna }}</option>
                    {% endif %}
                    {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'account' %}
                    {% if custom_field.type == 'text' %}
                    {% if custom_field.custom_field_id == payment_cielo_custom_cpf_id %}
                    <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                    {% else %}
                    <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-4" id="cpf_coluna">
                  <label>{{ text_cpf }}</label>
                  <select name="payment_cielo_cpf_coluna" class="form-control">
                    <option value=""></option>
                    {% for column in columns %}
                    {% if column.Field == payment_cielo_cpf_coluna %}
                    <option value="{{ column.Field }}" selected="selected">{{ column.Field }}</option>
                    {% else %}
                    <option value="{{ column.Field }}">{{ column.Field }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_cpf %}
                  <div class="text-danger">{{ error_cpf }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custom_numero_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custom_numero_id }}</span>
                </div>
                <div class="col-sm-4">
                  <label>{{ text_campo }}</label>
                  <select name="payment_cielo_custom_numero_id" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% if payment_cielo_custom_numero_id == 'N' %}
                    <option value="N" selected="selected">{{ text_coluna }}</option>
                    {% else %}
                    <option value="N">{{ text_coluna }}</option>
                    {% endif %}
                    {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'address' %}
                    {% if custom_field.type == 'text' %}
                    {% if custom_field.custom_field_id == payment_cielo_custom_numero_id %}
                    <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                    {% else %}
                    <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-4" id="numero_entrega_coluna">
                  <label>{{ text_numero_entrega }}</label>
                  <select name="payment_cielo_numero_entrega_coluna" class="form-control">
                    <option value=""></option>
                    {% for column in columns %}
                    {% if column.Field == payment_cielo_numero_entrega_coluna %}
                    <option value="{{ column.Field }}" selected="selected">{{ column.Field }}</option>
                    {% else %}
                    <option value="{{ column.Field }}">{{ column.Field }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_numero_entrega %}
                  <div class="text-danger">{{ error_numero_entrega }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custom_complemento_id }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custom_complemento_id }}</span>
                </div>
                <div class="col-sm-4">
                  <label>{{ text_campo }}</label>
                  <select name="payment_cielo_custom_complemento_id" class="form-control">
                    <option value="">{{ text_none }}</option>
                    {% if payment_cielo_custom_complemento_id == 'N' %}
                    <option value="N" selected="selected">{{ text_coluna }}</option>
                    {% else %}
                    <option value="N">{{ text_coluna }}</option>
                    {% endif %}
                    {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'address' %}
                    {% if custom_field.type == 'text' %}
                    {% if custom_field.custom_field_id == payment_cielo_custom_complemento_id %}
                    <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                    {% else %}
                    <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-4" id="complemento_entrega_coluna">
                  <label>{{ text_complemento_entrega }}</label>
                  <select name="payment_cielo_complemento_entrega_coluna" class="form-control">
                    <option value=""></option>
                    {% for column in columns %}
                    {% if column.Field == payment_cielo_complemento_entrega_coluna %}
                    <option value="{{ column.Field }}" selected="selected">{{ column.Field }}</option>
                    {% else %}
                    <option value="{{ column.Field }}">{{ column.Field }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_complemento_entrega %}
                  <div class="text-danger">{{ error_complemento_entrega }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-finalizacao">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_finalizacao }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_titulo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_titulo }}</span>
                </div>
                <div class="col-sm-4">
                  <input type="text" name="payment_cielo_titulo" value="{{ payment_cielo_titulo }}" placeholder="" class="form-control" />
                  {% if error_titulo %}
                  <div class="text-danger">{{ error_titulo }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_imagem }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_imagem }}</span>
                </div>
                <div class="col-sm-4">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ no_image }}" /></a>
                  <input type="hidden" name="payment_cielo_imagem" value="{{ payment_cielo_imagem }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_one_checkout }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_one_checkout }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="payment_cielo_one_checkout" class="form-control">
                    {% if payment_cielo_one_checkout %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  $('#razao_coluna').hide();
  $('#cnpj_coluna').hide();
  $('#cpf_coluna').hide();
  $('#numero_entrega_coluna').hide();
  $('#complemento_entrega_coluna').hide();

  $('select[name=\'payment_cielo_custom_razao_id\']').on('change', function() {
    if($(this).val() == 'N'){ $('#razao_coluna').show(); }else{ $('#razao_coluna').hide(); }
  });
  $('select[name=\'payment_cielo_custom_cnpj_id\']').on('change', function() {
    if($(this).val() == 'N'){ $('#cnpj_coluna').show(); }else{ $('#cnpj_coluna').hide(); }
  });
  $('select[name=\'payment_cielo_custom_cpf_id\']').on('change', function() {
    if($(this).val() == 'N'){ $('#cpf_coluna').show(); }else{ $('#cpf_coluna').hide(); }
  });
  $('select[name=\'payment_cielo_custom_numero_id\']').on('change', function() {
    if($(this).val() == 'N'){ $('#numero_entrega_coluna').show(); }else{ $('#numero_entrega_coluna').hide(); }
  });
  $('select[name=\'payment_cielo_custom_complemento_id\']').on('change', function() {
    if($(this).val() == 'N'){ $('#complemento_entrega_coluna').show(); }else{ $('#complemento_entrega_coluna').hide(); }
  });

  $('select[name=\'payment_cielo_custom_razao_id\']').trigger('change');
  $('select[name=\'payment_cielo_custom_cnpj_id\']').trigger('change');
  $('select[name=\'payment_cielo_custom_cpf_id\']').trigger('change');
  $('select[name=\'payment_cielo_custom_numero_id\']').trigger('change');
  $('select[name=\'payment_cielo_custom_complemento_id\']').trigger('change');
//--></script>
{{ footer }}