<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ heading_title }}</h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-left">&nbsp;</td>
          <td class="text-left">{{ column_task }}</td>
          <td class="text-left">{{ column_deadline }}</td>
        </tr>
      </thead>
      <tbody>
        {% if tasks %}
          {% for task in tasks %}
            {% if task.task_deadline < date_current and task.task_status == 1 %}
              <tr class="table_row_task" style="cursor:pointer; color:#FF0000;">
            {% else %}
              {% if task.task_status == 2 %}
              <tr class="table_row_task" style="cursor:pointer; color:#00CC00;">
              {% elseif task.task_status == 1 %}
              <tr class="table_row_task">
              {% elseif task.task_status == 0 %}
              <tr class="table_row_task" style="cursor:pointer; color:#CCCCCC; background-color:rgb(245,245,245);">
              {% endif %}
            {% endif %}
              <td class="text-left" style="width:107px; padding:2px 8px;">
                <form action="{{ check }}" method="post" id="form-check-{{ task.task_id }}">
                  <input type="text" name="dashboard_task_id" value="{{ task.task_id }}" id="dashboard_task_id" class="form-control" style="float:left; width:28px; visibility:hidden;" />
                  <button type="submit" form="form-check-{{ task.task_id }}" formaction="{{ check }}" class="btn {% if task.task_status == 2 %} btn-success {% elseif task.task_status == 1 %} btn-success {% elseif task.task_status == 0 %} btn-secondary {% endif %}" id="dashboard_task_update_status" style="float:left; margin-top:8px; padding:0 4px;" {% if task.task_status == 0 or task.task_status == 2 %} disabled {% endif %}>
                    {% if task.task_status == 2 %}
                      <span class="fa fa-check-square"></span>
                    {% elseif task.task_status == 1 %}
                      <span class="fa fa-square"></span>
                    {% elseif task.task_status == 0 %}
                      <span class="fa fa-times"></span>
                    {% endif %}
                  </button>
                </form>
              </td>
              <td class="text-left" style="width:60%; padding:2px 8px;">
                {{ task.task_description }}
              </td>
              <td class="text-left">
                {% if task.task_deadline < date_current and task.task_status == 0 %}
                  <span class="fa fa-exclamation-triangle"></span>&nbsp; {{ task.task_deadline }}
                {% elseif task.task_deadline < date_current and task.task_status == 1 %}
                  <span class="fa fa-exclamation-triangle"></span>&nbsp; {{ task.task_deadline }}
                {% elseif task.task_status == 2 %}
                  <span class="fa fa-check"></span>&nbsp; {{ task.task_deadline }}
                {% else %}
                  {{ task.task_deadline }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="4">{{ text_no_tasks }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
