{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-sku-generator" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if text_success %}
	<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ text_success }}</div>
	{% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
		<div class="panel-body">

<ul id="myTab2" class="nav nav-tabs">
  <li><a data-toggle="tab" href="#panely1">Gerenciamento</a></li>
  <li><a data-toggle="tab" href="#panely2">Instruções</a></li>
</ul>

<div class="tab-content" style="margin-bottom: 20px;">
   <div id="panely1" class="tab-pane fade">
    <h3>Configurações</h3>
    <p class="bg-warning">Por favor, antes de configurar o módulo, leia as instruções na guia ao lado</p>
    	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-sku-generator" class="form-horizontal">
    			<div class="form-group">
		        	<label class="col-sm-2 control-label" for="sku_generator_group">Grupo (opcional)</label>
		            <div class="col-sm-10" >
		            	<input type="text" id="group" value="{{ sku_generator_group }}" placeholder="insira um grupo (de preferência letras) para gerar um artigo de exemplo"  name="sku_generator_group" class="form-control">
		            </div>
		       </div>

		       	<div class="form-group">
		        	<label class="col-sm-2 control-label" for="sku_generator_start">A partir de que data partimos? (100.000 por padrão)</label>
		            <div class="col-sm-10" >
		            	<input type="number" pattern="^[0-9]*" id="start" value="{{sku_generator_start }}"
		            	placeholder="insira um número para gerar um artigo de exemplo" name="sku_generator_start" class="form-control">
		            </div>
		       </div>

		       <div class="form-group">
		        	<label class="col-sm-2 control-label" for="sku_generator_digit">Divida o SkU em categorias com um hífen (3 dígitos cada). Funciona a partir do número do artigo de 4 dígitos</label>
		            <div class="col-sm-10" >
		            	<input name='sku_generator_digit' type='hidden' value='0'>
		            	<input type="checkbox" id="digit" 
		            	 {% if sku_generator_digit %} checked {% endif %} value='1' name="sku_generator_digit" class="form-control">
		            </div>
		       </div>


		       <div class="form-group">
		       	<label class="col-sm-2 control-label" for="result-sku">Seus itens ficarão assim:</label>
		       	<div class="col-sm-10" >
		       		<input type="text" id="result-sku"  disabled="" class="form-control">
		       	</div>
		       </div>
		     <div class="form-group"> 
		   	<div class="col-sm-offset-2 col-sm-10">
		   		<button type="submit" class="btn btn-success">Salvar configurações</button>
		   		<button type="button" class="btn btn-warning" id="generateAllSku">Gerar todos os SkUs</button>
		   	</div>
		   </div>	
		   <div class="form-group"> 
		   	<div class="col-sm-offset-2 col-sm-10">
					<p>Antes de gerar SKU, salve as configurações deste módulo, e também faça um backup do banco de dados.</p>
		   	</div>
		   </div>
		   	        
		   </form>   
		</div>
 <div id="panely2" class="tab-pane fade">
    <p>
    	<h3>Sobre o módulo</h3>
						<p >O módulo foi projetado para geração automática simples de SKUs de produtos exclusivos.</p>
						<p>O formato do artigo gerado é universal, como: <b>А-100056</b>, onde A é qualquer grupo numérico ou digital que você pode atribuir ao artigo no formulário da guia adjacente e 100056 é o número de série do artigo. Você também pode definir o número de série (a partir do qual o relatório do artigo começa) no formulário de configurações de formato do artigo. Você não precisa usar o grupo e, se não inserir o número inicial de artigos, será atribuído um número padrão - 100.000. Você também tem acesso à função de dividir um artigo em categorias com um hífen (3 dígitos cada). Ou seja, ao selecionar “Dividir o artigo em dígitos com hífen” nas configurações do módulo, o artigo 100056 se transformará em 100-056, para facilitar a percepção do artigo. Você pode alterar o formato de saída e entrada de dados modificando você mesmo o módulo ou entrar em contato comigo para modificação individual. </p>
			<h3>Instruções</h3>
			<strong><p class="bg-success">Geração de números de artigos para produtos já criados de acordo com o seguinte esquema:</p></strong>
				<ul>
					<li>Faça um backup do seu banco de dados! O módulo substitui irrevogavelmente seus artigos de produtos antigos por novos</li>
					<li>Insira o número a partir do qual deseja começar a gerar SKUs. Escolha um número que seja fácil de entender e comunicar, por exemplo, por telefone, e que todos os produtos potenciais tenham seus próprios números potenciais. Por exemplo, o número 100.000 é suficiente para todos os bens.</li>
					<li>Decida se o gerador dividirá o artigo em dígitos (xxxxxxx B xxx-xxx) e marque/desmarque a configuração do módulo correspondente</li>
					<li>Se necessário, insira um grupo (letra, palavra ou número). Este grupo permanecerá inalterado e é utilizado para melhor percepção do artigo. Se você inserir a letra S, o artigo se tornará S-xxxxxx</li>
					<li>Salvar configurações</li>
					<li>Clique no botão "Gerar todos os artigos". Tenha cuidado, o processo pode demorar algum tempo, principalmente se você tiver muitos produtos em seu banco de dados. O módulo irá gerar novos artigos para todos os produtos de acordo com o esquema que você especificou acima</li>
					<li>Todos os novos produtos serão criados com o campo do artigo já preenchido conforme formulário selecionado. Você pode alterá-los manualmente antes de salvar, mas não recomendo fazer isso se você começou a usar a geração automática.</li>
				</ul>

				<strong><p class="bg-success">Caso não queira gerar SKUs para produtos já criados, basta deixar o módulo preencher durante o processo de criação do produto:</p></strong>
				<ul>
					<li>Se você habilitou o módulo, significa que ele já substitui o próximo artigo por um novo produto. Verifique isso agora</li>
					<li>Se você não deseja alterar a aparência do seu artigo, simplesmente não preencha os campos de configurações do grupo, detalhamento do artigo e número inicial</li>
					<li>O módulo ainda não pode trabalhar com grupos de produtos diferentes e irá gerar o próximo artigo para o maior artigo que você tiver no banco de dados. Tome cuidado.</li>
				</ul>
  			</div>

  </div>

				<br>
					<div class="copywrite" style="padding: 10px 10px 0 10px; border: 1px dashed #ccc;">						
					</div>
				</div><!-- /Panel-Body-->
				<!-- Customized.End-->
			</div>
	</div><!-- /content-->
<script type="text/javascript">	
jQuery().ready(function() {

	if(startExist() || groupExist())
	{
		renderSku(startExist());
	}

	$("#group").bind('change', function(event) { 
		renderSku(startExist());
	});

	$("#start").bind('change', function(event) { 
		renderSku(startExist());
	});

	$("#digit").bind('change', function(event) { 
		renderSku(startExist());
	});

	function startExist() {
		if($("#start").val())
			return $("#start").val();
		else
			return start = 100000;
	}

	function groupExist() {
		if($("#group").val())
			return $("#group").val();
		else
			return group = false;
	}


function renderSku(start) {
		if($("#digit").prop("checked")) {
			start = String(start).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1-');
		}
		if ($("#group").val()) {
			var group = String($("#group").val()).replace(/\s/ig, '-');
			var resultSku = (group + '-' + start);
		} else {
			var resultSku = (start);
		}
		$("#result-sku").val(resultSku);
	}
});
$(function(){ 
    $("#myTab2 li:eq(0) a").tab('show');
});

$('#generateAllSku').click(function(event) {
    if(confirm("Сделали бэкап базы?")) {
    var data = $('#form-sku-generator').serialize();
    postFormByAjax(data, function() {
      window.location.href = "index.php?route=extension/module/sku_generator/generateAllSku&user_token={{ user_token }}";
    });    
  }
});

    function postFormByAjax(data, callback) {
    $.ajax({
     url: 'index.php?route=extension/module/sku_generator/postFormByAjax&user_token={{ user_token }}',
      data: data,
      dataType: 'json',
      method : 'POST',
       success: function( response, textStatus, jqXHR ){
         if (callback) {
           callback();
         }
      },
      error: function( jqXHR, textStatus, errorThrown ){
        console.log('We have a problem with Ajax: ' + textStatus);
      },
    });
  }
</script>
{{ footer }}
