{{ header }}{{ leftMenu }}

<div class="errorPageContainer">
    <div class="logoContainer">
        <img src="view/image/tidio_chat/logo.svg" alt="tidio logo" />
    </div>
    <div class="errorPageContentContainer">
        <img src="view/image/tidio_chat/lottie.gif" alt="tidio lottie" width="400px" />
        <header class="header">{{ tidioTranslator.translate('something_went_wrong') }}</header>
        <p class="headerDescription">
            {{ tidioTranslator.translate('error_while_creating_the_project') }} <a href="https://tidio.com">https://tidio.com</a>
        </p>

        <div class="backToModules">
            <a href="{{ extensionUrl }}">{{ tidioTranslator.translate('go_back_to_modules') }}</a>
        </div>
        <p class="errorMessage">
            {{ tidioTranslator.translate('error_message') }}: <b>{{ errorMessage }}</b>
        </p>
    </div>
</div>
