{# 
 StorePickup Map
 Premium Extension
 
 Copyright (c) 2013 - 2019 Adikon.eu
 http://www.adikon.eu/
 
 You may not copy or reuse code within this file without written permission. #}

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="text-left">{{ column_name }}</td>
				<td class="text-right">{{ column_orders }}</td>
				<td class="text-right">{{ column_products }}</td>
				<td class="text-right">{{ column_total }}</td>
				<td class="text-right">{{ column_last_used }}</td>
			</tr>
		</thead>
		<tbody>
			{% if stores %}
			{% for store in stores %}
			<tr>
				<td class="text-left">{{ store.name }}</td>
				<td class="text-right">{{ store.orders }}</td>
				<td class="text-right">{{ store.products }}</td>
				<td class="text-right">{{ store.total }}</td>
				<td class="text-right">{{ store.last_used }}</td>
			</tr>
			{% endfor %}
			{% else %} 
			<tr>
				<td class="text-center" colspan="5">{{ text_no_results }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>