{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-frete_customizado" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" id="form-frete_customizado" class="form-horizontal">

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-msg_prazo">{{ entry_shipping_name }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_frete_customizado_shipping_title" value="{{ shipping_frete_customizado_shipping_title }}" placeholder="{{ entry_shipping_name }}" class="form-control" required maxlength="50" />
                            {% if  (error_shipping_title)  %}
                                <div class="text-danger">{{ error_shipping_title }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <div class="page-header">
                            <h3>Tipos de frete</h3>
                        </div>
                        <div class="alert alert-info" role="alert">
                            Aqui você irá cadastar os tipos de fretes para a sua loja de acordo com uma faixa de CEP. <br />
                            Exemplo: <br />
                            Início da faixa de CEP: 00000000 e Fim da Faixa de CEP: 11111111 - Qualquer CEP informado dentro desta faixa, irá aparecer a opção para o usuário selecionar (se for informado um valor mínimo, terá a validação do valor).
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                      <th class="col-sm-1">Nº</th>
                                    <th class="col-sm-2">{{ entry_title }}</th>
                                    <th class="col-sm-2">{{ entry_total }}</th>
                                    <th class="col-sm-2">{{ entry_minimum }}</th>
                                    <th class="col-sm-2">{{ entry_start_zipcode }}</th>
                                    <th class="col-sm-2">{{ entry_end_zipcode }}</th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if shipping_frete_customizado_fretes %}
                                    {% for frete in shipping_frete_customizado_fretes %}
                                        <tr id="row_{{ loop.index - 1 }}">
                                            <td class="item_number">{{ loop.index }}</td>
                                            <td>
                                                <input class="form-control" name="shipping_frete_customizado_fretes[{{ loop.index - 1 }}][title]" value="{{ frete.title }}" type="text" maxlength="50" required/>
                                                {% if  error_input_title[(loop.index - 1)]  %}
                                                    <div class="text-danger">{{ error_input_title[(loop.index - 1)] }}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <input class="form-control" name="shipping_frete_customizado_fretes[{{ loop.index - 1 }}][total]" value="{{ frete.total }}" type="number" min="0.00" placeholder="{{ help_total }}" step="0.01" required />
                                                {% if  error_input_total[(loop.index - 1)]  %}
                                                    <div class="text-danger">{{ error_input_total[(loop.index - 1)] }}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <input class="form-control" name="shipping_frete_customizado_fretes[{{ loop.index - 1 }}][minimum]" value="{{ frete.minimum }}" type="number" min="0.00" placeholder="{{ help_total }}" step="0.01" required />
                                                {% if  error_input_minimum[(loop.index - 1)]  %}
                                                    <div class="text-danger">{{ error_input_minimum[(loop.index - 1)] }}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <input class="form-control" name="shipping_frete_customizado_fretes[{{ loop.index - 1 }}][start_zipcode]" value="{{ frete.start_zipcode }}" type="number" max="99999999" maxlength="8" required/>
                                                {% if  error_input_start_zipcode[(loop.index - 1)]  %}
                                                    <div class="text-danger">{{ error_input_start_zipcode[(loop.index - 1)] }}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <input class="form-control" name="shipping_frete_customizado_fretes[{{ loop.index - 1 }}][end_zipcode]" value="{{ frete.end_zipcode }}" type="number" max="99999999" maxlength="8" required />
                                                {% if  error_input_end_zipcode[(loop.index - 1)]  %}
                                                    <div class="text-danger">{{ error_input_end_zipcode[(loop.index - 1)] }}</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" onclick="deleteShipping({{ loop.index - 1 }})" type="button">{{ button_delete }}</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tr id="last-row">
                                    <td colspan="6"></td>
                                    <td>
                                        <button class="btn btn-primary" onclick="addShipping()" type="button">{{ button_add }}</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_frete_customizado_status" id="input-status" class="form-control">
                                {% if shipping_frete_customizado_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_frete_customizado_sort_order" value="{{ shipping_frete_customizado_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteShipping(index) {
        var $row = $('#row_' + index);
        if($row.length) {
            $row.remove();
            orderItemNumber();
        }
    }

    function orderItemNumber() {
        $('.item_number').each(function (index) {
            $(this).text(index + 1);
        })
    }

    function addShipping() {
        var count = $('.item_number').length;
        var html = `<tr id="row_${ count }">
                        <td class="item_number">${count + 1}</td>
                        <td>
                            <input class="form-control" name="shipping_frete_customizado_fretes[${count}][title]" type="text" maxlength="50" required/>
                        </td>
                        <td>
                            <input class="form-control" name="shipping_frete_customizado_fretes[${count}][total]" type="number" min="0.00" placeholder="{{ help_total }}" step="0.01" required />
                        </td>
                        <td>
                            <input class="form-control" name="shipping_frete_customizado_fretes[${count}][minimum]" type="number" min="0.00" placeholder="{{ help_total }}" step="0.01" required />
                        </td>
                        <td>
                            <input class="form-control" name="shipping_frete_customizado_fretes[${count}][start_zipcode]" value="00000000" type="number" max="99999999" maxlength="8" required/>
                        </td>
                        <td>
                            <input class="form-control" name="shipping_frete_customizado_fretes[${count}][end_zipcode]" value="00000000" type="number" max="99999999" maxlength="8" required/>
                        </td>
                         <td>
                            <button onclick="deleteShipping(${count})" type="button" class="btn btn-danger">{{ button_delete }}</button>
                        </td>
                    </tr>`;
        $('#last-row').before(html);
    }

</script>
{{ footer }}
