{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-shipping" input type="hidden" id="save_stay" name="save_stay" value="1" data-toggle="tooltip" title="{{ button_save_stay }}" class="btn btn-success"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1> <span class="badge">{{ version }}</span>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if upgrade %}
    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> {{ upgrade }}</div>
    {% endif %}
    {% if requisitos %}
    <div class="alert alert-warning">
      <h4><b>{{ text_requisitos }}</b></h4>
      {% for requisito in requisitos %}
      <p><i class="fa fa-exclamation-triangle"></i> {{ requisito }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-geral" data-toggle="tab">{{ tab_geral }}</a></li>
            <li><a href="#tab-api" data-toggle="tab">{{ tab_api }}</a></li>
            <li><a href="#tab-servicos" data-toggle="tab">{{ tab_servicos }}</a></li>
            <li><a href="#tab-remetente" data-toggle="tab">{{ tab_remetente }}</a></li>
            <li><a href="#tab-destinatario" data-toggle="tab">{{ tab_destinatario }}</a></li>
            <li><a href="#tab-promocoes" data-toggle="tab">{{ tab_promocoes }}</a></li>
            <li><a href="#tab-restricoes" data-toggle="tab">{{ tab_restricoes }}</a></li>
            <li><a href="#tab-bloqueios" data-toggle="tab">{{ tab_bloqueios }}</a></li>
            <li><a href="#tab-finalizacao" data-toggle="tab">{{ tab_finalizacao }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-geral">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_geral }}</div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_chave }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_chave }}</span>
                </div>
                <div class="col-sm-6">
                  {% for store in stores_data %}
                  {% set id = store.store_id %}
                  <h5 style="margin-top: 10px;"><strong>{{ store.name }}</strong></h5>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {% if store.store_id in shipping_melhor_envio_chave|keys %}
                    <input type="text" name="shipping_melhor_envio_chave[{{ id }}]" value="{{ shipping_melhor_envio_chave[id] }}" placeholder="" class="form-control" />
                    {% else %}
                    <input type="text" name="shipping_melhor_envio_chave[{{ id }}]" value="" placeholder="" class="form-control" />
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% if error_chave %}
                  <div class="text-danger">{{ error_chave }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_lojas }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_lojas }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for store in stores_data %}
                    <div class="checkbox">
                      <label>
                        {% if store.store_id in shipping_melhor_envio_stores %}
                        <input type="checkbox" name="shipping_melhor_envio_stores[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="shipping_melhor_envio_stores[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                  {% if error_stores %}
                  <div class="text-danger">{{ error_stores }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_tipos_clientes }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_tipos_clientes }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for customer_group in customer_groups_data %}
                    <div class="checkbox">
                      <label>
                        {% if customer_group.customer_group_id in shipping_melhor_envio_customer_groups %}
                        <input type="checkbox" name="shipping_melhor_envio_customer_groups[]" value="{{ customer_group.customer_group_id }}" checked="checked" />
                        {{ customer_group.name }}
                        {% else %}
                        <input type="checkbox" name="shipping_melhor_envio_customer_groups[]" value="{{ customer_group.customer_group_id }}" />
                        {{ customer_group.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                  {% if error_customer_groups %}
                  <div class="text-danger">{{ error_customer_groups }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_total }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_total }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" name="shipping_melhor_envio_total" value="{{ shipping_melhor_envio_total }}" placeholder="" class="form-control" maxlength="8" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_peso_minimo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_peso_min }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                    <input type="text" name="shipping_melhor_envio_peso_minimo" value="{{ shipping_melhor_envio_peso_minimo }}" placeholder="" class="form-control" maxlength="8" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_peso_maximo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_peso_max }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                    <input type="text" name="shipping_melhor_envio_peso_maximo" value="{{ shipping_melhor_envio_peso_maximo }}" placeholder="" class="form-control" maxlength="8" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_weight_class }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_weight_class }}</span>
                </div>
                <div class="col-sm-3">
                  <select name="shipping_melhor_envio_weight_class_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for weight_class in weight_classes_data %}
                    <option value="{{ weight_class.weight_class_id }}" {{ weight_class.weight_class_id == shipping_melhor_envio_weight_class_id ? 'selected="selected"' : '' }}>{{ weight_class.title }}</option>
                    {% endfor %}
                  </select>
                  {% if error_weight_class_id %}
                  <div class="text-danger">{{ error_weight_class_id }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_length_class }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_length_class }}</span>
                </div>
                <div class="col-sm-3">
                  <select name="shipping_melhor_envio_length_class_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for length_class in length_classes_data %}
                    <option value="{{ length_class.length_class_id }}" {{ length_class.length_class_id == shipping_melhor_envio_length_class_id ? 'selected="selected"' : '' }}>{{ length_class.title }}</option>
                    {% endfor %}
                  </select>
                  {% if error_length_class_id %}
                  <div class="text-danger">{{ error_length_class_id }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_tax_class }}</strong></h5>
                </div>
                <div class="col-sm-3">
                  <select name="shipping_melhor_envio_tax_class_id" class="form-control">
                    <option value="0">{{ text_none }}</option>
                    {% for tax_class in tax_classes_data %}
                    <option value="{{ tax_class.tax_class_id }}" {{ tax_class.tax_class_id == shipping_melhor_envio_tax_class_id ? 'selected="selected"' : '' }}>{{ tax_class.title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_geo_zone }}</strong></h5>
                </div>
                <div class="col-sm-3">
                  <select name="shipping_melhor_envio_geo_zone_id" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones_data %}
                    <option value="{{ geo_zone.geo_zone_id }}" {{ geo_zone.geo_zone_id == shipping_melhor_envio_geo_zone_id ? 'selected="selected"' : '' }}>{{ geo_zone.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_status }}</strong></h5>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_status" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_status == '1' ? 'selected="selected"' : '' }}>{{ text_enabled }}</option>
                    <option value="0" {{ shipping_melhor_envio_status == '0' ? 'selected="selected"' : '' }}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_sort_order }}</strong></h5>
                </div>
                <div class="col-sm-2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sort"></i></span>
                    <input type="text" name="shipping_melhor_envio_sort_order" value="{{ shipping_melhor_envio_sort_order }}" placeholder="" class="form-control" maxlength="2" />
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-api">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_api }}</div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_token }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_token }}</span>
                </div>
                <div class="col-sm-9">
                  <textarea name="shipping_melhor_envio_token" rows="8" class="form-control">{{ shipping_melhor_envio_token }}</textarea>
                  {% if error_token %}
                  <div class="text-danger">{{ error_token }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_sandbox }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_sandbox }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_sandbox" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_sandbox == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_sandbox == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_debug }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_debug }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_debug" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_debug == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_debug == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_prefixo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_prefixo }}</span>
                </div>
                <div class="col-sm-2">
                  <input type="text" name="shipping_melhor_envio_prefixo" value="{{ shipping_melhor_envio_prefixo }}" class="form-control" size="3" />
                  {% if error_prefixo %}
                  <div class="text-danger">{{ error_prefixo }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_valor_segurado }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_valor_segurado }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_valor_segurado" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_valor_segurado == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_valor_segurado == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_aviso_recebimento }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_aviso_recebimento }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_aviso_recebimento" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_aviso_recebimento == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_aviso_recebimento == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_mao_propria }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_mao_propria }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_mao_propria" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_mao_propria == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_mao_propria == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_exibir_data }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_exibir_data }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_exibir_data" class="form-control">
                    <option value="1" {{ shipping_melhor_envio_exibir_data == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                    <option value="0" {{ shipping_melhor_envio_exibir_data == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_tipo_custo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_tipo_custo }}</span>
                </div>
                <div class="col-sm-2">
                  <select name="shipping_melhor_envio_tipo_custo" class="form-control">
                    <option value="">{{ text_select }}</option>
                    <option value="P" {{ shipping_melhor_envio_tipo_custo == 'P' ? 'selected="selected"' : '' }}>{{ text_percentual }}</option>
                    <option value="F" {{ shipping_melhor_envio_tipo_custo == 'F' ? 'selected="selected"' : '' }}>{{ text_fixo }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_custo_adicional }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_custo_adicional }}</span>
                </div>
                <div class="col-sm-2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" name="shipping_melhor_envio_custo_adicional" value="{{ shipping_melhor_envio_custo_adicional }}" placeholder="" class="form-control" maxlength="6" />
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-servicos">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_servicos }} <button type="button" class="btn btn-primary btn-xs" onclick="servicos()">{{ button_refresh_services }}</button></div>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left" style="min-width:150px">{{ entry_transportadora }}</td>
                      <td class="text-left" style="min-width:200px">{{ entry_servico }}</td>
                      <td class="text-left" style="min-width:200px"><span data-toggle="tooltip" title="{{ help_descricao_frete }}">{{ entry_descricao_frete }}</span></td>
                      <td class="text-left" style="min-width:100px"><span data-toggle="tooltip" title="{{ help_prazo_adicional }}">{{ entry_prazo_adicional }}</span></td>
                      <td class="text-left" style="min-width:100px">{{ entry_status }}</td>
                    </tr>
                  </thead>
                  <tbody id="servicos">
                    {% set servicos_row = 0 %}
                    {% if shipping_melhor_envio_servicos %}
                    {% for servico in shipping_melhor_envio_servicos %}
                    <tr>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_servicos[{{ servicos_row }}][transportadora]" value="{{ servico.transportadora }}" placeholder="" class="form-control" readonly />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_servicos[{{ servicos_row }}][servico]" value="{{ servico.servico }}" placeholder="" class="form-control" readonly />
                        <input type="hidden" name="shipping_melhor_envio_servicos[{{ servicos_row }}][id]" value="{{ servico.id }}" />
                      </td>
                      <td class="text-left">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                          <input type="text" name="shipping_melhor_envio_servicos[{{ servicos_row }}][descricao]" value="{{ servico.descricao }}" placeholder="" class="form-control" maxlength="40" />
                        </div>
                      </td>
                      <td class="text-left">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                          <input type="text" name="shipping_melhor_envio_servicos[{{ servicos_row }}][prazo_adicional]" value="{{ servico.prazo_adicional }}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="3" />
                        </div>
                      </td>
                      <td class="text-left">
                        <select name="shipping_melhor_envio_servicos[{{ servicos_row }}][status]" class="form-control">
                          <option value="1" {{ servico.status == '1' ? 'selected="selected"' : '' }}>{{ text_enabled }}</option>
                          <option value="0" {{ servico.status == '0' ? 'selected="selected"' : '' }}>{{ text_disabled }}</option>
                        </select>
                      </td>
                    </tr>
                    {% set servicos_row = servicos_row + 1 %}
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-remetente">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_remetente }}</div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_nome }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_nome }}</span>
                </div>
                <div class="col-sm-5">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_nome" value="{{ shipping_melhor_envio_remetente_nome }}" class="form-control" maxlength="100">
                  </div>
                  {% if error_remetente_nome %}
                  <div class="text-danger">{{ error_remetente_nome }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_telefone }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_telefone }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_telefone" value="{{ shipping_melhor_envio_remetente_telefone }}" class="form-control" maxlength="11">
                  </div>
                  {% if error_remetente_telefone %}
                  <div class="text-danger">{{ error_remetente_telefone }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_email }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_email }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_email" value="{{ shipping_melhor_envio_remetente_email }}" class="form-control" maxlength="100">
                  </div>
                  {% if error_remetente_email %}
                  <div class="text-danger">{{ error_remetente_email }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_cnpj }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_cnpj }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_cnpj" value="{{ shipping_melhor_envio_remetente_cnpj }}" class="form-control" maxlength="14">
                  </div>
                  {% if error_remetente_cnpj %}
                  <div class="text-danger">{{ error_remetente_cnpj }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_ie }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_ie }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_ie" value="{{ shipping_melhor_envio_remetente_ie }}" class="form-control" maxlength="20">
                  </div>
                  {% if error_remetente_ie %}
                  <div class="text-danger">{{ error_remetente_ie }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_cep }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_cep" value="{{ shipping_melhor_envio_remetente_cep }}" class="form-control" maxlength="8">
                  </div>
                  {% if error_remetente_cep %}
                  <div class="text-danger">{{ error_remetente_cep }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_endereco }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-5">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_endereco" value="{{ shipping_melhor_envio_remetente_endereco }}" class="form-control" maxlength="100">
                  </div>
                  {% if error_remetente_endereco %}
                  <div class="text-danger">{{ error_remetente_endereco }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_numero }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_numero" value="{{ shipping_melhor_envio_remetente_numero }}" class="form-control" maxlength="8">
                  </div>
                  {% if error_remetente_numero %}
                  <div class="text-danger">{{ error_remetente_numero }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_remetente_complemento }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_complemento" value="{{ shipping_melhor_envio_remetente_complemento }}" class="form-control" maxlength="100">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_bairro }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_bairro" value="{{ shipping_melhor_envio_remetente_bairro }}" class="form-control" maxlength="50">
                  </div>
                  {% if error_remetente_bairro %}
                  <div class="text-danger">{{ error_remetente_bairro }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_cidade }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_cidade" value="{{ shipping_melhor_envio_remetente_cidade }}" class="form-control" maxlength="50">
                  </div>
                  {% if error_remetente_cidade %}
                  <div class="text-danger">{{ error_remetente_cidade }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_remetente_uf }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_endereco }}</span>
                </div>
                <div class="col-sm-2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <select name="shipping_melhor_envio_remetente_uf" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for zone in zones_data %}
                      <option value="{{ zone.code }}" {{ zone.code == shipping_melhor_envio_remetente_uf ? 'selected' : '' }}>{{ zone.code }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% if error_remetente_uf %}
                  <div class="text-danger">{{ error_remetente_uf }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_remetente_nota }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_nota }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_nota" value="{{ shipping_melhor_envio_remetente_nota }}" class="form-control" maxlength="100">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_remetente_agencia }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_agencia }}</span>
                </div>
                <div class="col-sm-9">
                  <select name="shipping_melhor_envio_remetente_agencia" class="form-control">
                    <option value="">{{ text_select }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_remetente_cnae }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_remetente_cnae }}</span>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_remetente_cnae" value="{{ shipping_melhor_envio_remetente_cnae }}" class="form-control" maxlength="20">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-destinatario">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_destinatario }}</div>
              {% if error_documento_obrigatorio %}
              <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_documento_obrigatorio }}</div>
              {% endif %}
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_campo_razao_social }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_campo_razao_social }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select name="shipping_melhor_envio_custom_field_razao_social" class="form-control">
                      <option value="">{{ text_none }}</option>
                      {% for custom_field in custom_fields_data %}
                      {% if custom_field.location == 'account' and custom_field.type == 'text' %}
                      <option value="{{ custom_field.custom_field_id }}" {{ custom_field.custom_field_id == shipping_melhor_envio_custom_field_razao_social ? 'selected="selected"' : '' }}>{{ custom_field.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="input-group-btn">
                      <a href="{{ custom_field_link }}" target="_blank" class="btn btn-primary">{{ button_add_custom_field }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_campo_cnpj }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_campo_cnpj }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select name="shipping_melhor_envio_custom_field_cnpj" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field in custom_fields_data %}
                      {% if custom_field.location == 'account' and custom_field.type == 'text' %}
                      <option value="{{ custom_field.custom_field_id }}" {{ custom_field.custom_field_id == shipping_melhor_envio_custom_field_cnpj ? 'selected="selected"' : '' }}>{{ custom_field.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="input-group-btn">
                      <a href="{{ custom_field_link }}" target="_blank" class="btn btn-primary">{{ button_add_custom_field }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span><strong> {{ entry_campo_cpf }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_campo_cpf }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select name="shipping_melhor_envio_custom_field_cpf" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field in custom_fields_data %}
                      {% if custom_field.location == 'account' and custom_field.type == 'text' %}
                      <option value="{{ custom_field.custom_field_id }}" {{ custom_field.custom_field_id == shipping_melhor_envio_custom_field_cpf ? 'selected="selected"' : '' }}>{{ custom_field.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="input-group-btn">
                      <a href="{{ custom_field_link }}" target="_blank" class="btn btn-primary">{{ button_add_custom_field }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span><strong> {{ entry_campo_numero }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_campo_numero }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select name="shipping_melhor_envio_custom_field_numero" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field in custom_fields_data %}
                      {% if custom_field.location == 'address' and custom_field.type == 'text' %}
                      <option value="{{ custom_field.custom_field_id }}" {{ custom_field.custom_field_id == shipping_melhor_envio_custom_field_numero ? 'selected="selected"' : '' }}>{{ custom_field.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="input-group-btn">
                      <a href="{{ custom_field_link }}" target="_blank" class="btn btn-primary">{{ button_add_custom_field }}</a>
                    </div>
                  </div>
                  {% if error_custom_field_numero %}
                  <div class="text-danger">{{ error_custom_field_numero }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_campo_complemento }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_campo_complemento }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select name="shipping_melhor_envio_custom_field_complemento" class="form-control">
                      <option value="">{{ text_none }}</option>
                      {% for custom_field in custom_fields_data %}
                      {% if custom_field.location == 'address' and custom_field.type == 'text' %}
                      <option value="{{ custom_field.custom_field_id }}" {{ custom_field.custom_field_id == shipping_melhor_envio_custom_field_complemento ? 'selected="selected"' : '' }}>{{ custom_field.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="input-group-btn">
                      <a href="{{ custom_field_link }}" target="_blank" class="btn btn-primary">{{ button_add_custom_field }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-promocoes">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_promocoes }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              {% if error_promocoes %}
              <div class="text-danger">{{ error_promocoes }}</div>
              {% endif %}
              <div class="table-responsive">
                <table id="promocoes" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left" style="min-width:250px"><span class="text-danger">*</span> {{ entry_servico }}</td>
                      <td class="text-left" style="min-width:200px"><span class="text-danger">*</span> {{ entry_descricao_frete }}</td>
                      <td class="text-left" style="min-width:120px"><span class="text-danger">*</span> {{ entry_cep_inicial }}</td>
                      <td class="text-left" style="min-width:120px"><span class="text-danger">*</span> {{ entry_cep_final }}</td>
                      <td class="text-left" style="min-width:120px">{{ entry_total }}</td>
                      <td class="text-left" style="min-width:150px">{{ entry_peso_minimo }}</td>
                      <td class="text-left" style="min-width:150px">{{ entry_peso_maximo }}</td>
                      <td class="text-left" style="min-width:150px">{{ entry_tipo_desconto }}</td>
                      <td class="text-left" style="min-width:170px"><span class="text-danger">*</span> {{ entry_desconto }}</td>
                      <td class="text-left" style="min-width:170px">{{ entry_tipo_clientes }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set promocoes_row = 0 %}
                    {% if shipping_melhor_envio_promocoes %}
                    {% for promocao in shipping_melhor_envio_promocoes %}
                    <tr id="promocao-row{{ promocoes_row }}">
                      <td class="text-left">
                        <select name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][servico]" class="form-control">
                          {% if servicos_data %}
                          {% for servico in servicos_data %}
                          {% if servico.id == promocao.servico %}
                          <option value="{{ servico.id }}" selected="selected">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% else %}
                          <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </select>
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][descricao]" value="{{ promocao.descricao }}" placeholder="" class="form-control" maxlength="40" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][cep_inicial]" value="{{ promocao.cep_inicial }}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][cep_final]" value="{{ promocao.cep_final }}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][total]" value="{{ promocao.total }}" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][peso_minimo]" value="{{ promocao.peso_minimo }}" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][peso_maximo]" value="{{ promocao.peso_maximo }}" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <select name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][tipo_desconto]" class="form-control">
                          {% for chave, valor in descontos_data %}
                          {% if promocao.tipo_desconto == chave %}
                          <option value="{{ chave }}" selected="selected">{{ valor }}</option>
                          {% else %}
                          <option value="{{ chave }}">{{ valor }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][desconto]" value="{{ promocao.desconto }}" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <select name="shipping_melhor_envio_promocoes[{{ promocoes_row }}][customer_group]" class="form-control">
                          <option value="">{{ text_all }}</option>
                          {% for customer_group in customer_groups_data %}
                          {% if promocao.customer_group == customer_group.customer_group_id %}
                          <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                          {% else %}
                          <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td class="text-left">
                        <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>
                      </td>
                    </tr>
                    {% set promocoes_row = promocoes_row + 1 %}
                    {% endfor %}
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10"></td>
                      <td class="text-left"><button type="button" onclick="addPromocao();" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add }}</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-restricoes">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_restricoes }}</div>
              {% if error_restricoes %}
              <div class="text-danger">{{ error_restricoes }}</div>
              {% endif %}
              <div class="table-responsive">
                <table id="restricoes" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left" style="min-width:200px"><span class="text-danger">*</span> {{ entry_servico }}</td>
                      <td class="text-left" style="min-width:200px"><span class="text-danger">*</span> {{ entry_descricao_local }}</td>
                      <td class="text-left" style="min-width:120px"><span class="text-danger">*</span> {{ entry_cep_inicial }}</td>
                      <td class="text-left" style="min-width:120px"><span class="text-danger">*</span> {{ entry_cep_final }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set restricoes_row = 0 %}
                    {% if shipping_melhor_envio_restricoes %}
                    {% for restricao in shipping_melhor_envio_restricoes %}
                    <tr id="restricao-row{{ restricoes_row }}">
                      <td class="text-left">
                        <select name="shipping_melhor_envio_restricoes[{{ restricoes_row }}][servico]" class="form-control">
                          {% if servicos_data %}
                          {% for servico in servicos_data %}
                          {% if servico.id == restricao.servico %}
                          <option value="{{ servico.id }}" selected="selected">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% else %}
                          <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </select>
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_restricoes[{{ restricoes_row }}][descricao]" value="{{ restricao.descricao }}" placeholder="" class="form-control" maxlength="40" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_restricoes[{{ restricoes_row }}][cep_inicial]" value="{{ restricao.cep_inicial }}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <input type="text" name="shipping_melhor_envio_restricoes[{{ restricoes_row }}][cep_final]" value="{{ restricao.cep_final }}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" />
                      </td>
                      <td class="text-left">
                        <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>
                      </td>
                    </tr>
                    {% set restricoes_row = restricoes_row + 1 %}
                    {% endfor %}
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4"></td>
                      <td class="text-left"><button type="button" onclick="addRestricao();" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add }}</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-bloqueios">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_bloqueios }}</div>
              {% if error_bloqueios %}
              <div class="text-danger">{{ error_bloqueios }}</div>
              {% endif %}
              <div class="table-responsive">
                <table id="bloqueios" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left" style="min-width:150px"><span class="text-danger">*</span> {{ entry_servico }}</td>
                      <td class="text-left" style="min-width:200px"><span class="text-danger">*</span> {{ entry_departamento }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set bloqueios_row = 0 %}
                    {% if shipping_melhor_envio_bloqueios %}
                    {% for bloqueio in shipping_melhor_envio_bloqueios %}
                    <tr id="bloqueio-row{{ bloqueios_row }}">
                      <td class="text-left">
                        <select name="shipping_melhor_envio_bloqueios[{{ bloqueios_row }}][servico]" class="form-control">
                          {% if servicos_data %}
                          {% for servico in servicos_data %}
                          {% if servico.id == bloqueio.servico %}
                          <option value="{{ servico.id }}" selected="selected">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% else %}
                          <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </select>
                      </td>
                      <td class="text-left">
                        <select name="shipping_melhor_envio_bloqueios[{{ bloqueios_row }}][category_id]" class="form-control">
                          {% for category in categories_data %}
                          {% if category.category_id == bloqueio.category_id %}
                          <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                          {% else %}
                          <option value="{{ category.category_id }}">{{ category.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td class="text-left">
                        <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>
                      </td>
                    </tr>
                    {% set bloqueios_row = bloqueios_row + 1 %}
                    {% endfor %}
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-left"><button type="button" onclick="novoBloqueio();" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add }}</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-finalizacao">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_finalizacao }}</div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><span class="text-danger">*</span> <strong>{{ entry_titulo }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_titulo }}</span>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_titulo" value="{{ shipping_melhor_envio_titulo }}" placeholder="" class="form-control" maxlength="40" />
                  </div>
                  {% if error_titulo %}
                  <div class="text-danger">{{ error_titulo }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3">
                  <h5><strong>{{ entry_imagem }}</strong></h5>
                  <span class="help"><i class="fa fa-info-circle"></i> {{ help_imagem }}</span>
                </div>
                <div class="col-sm-9">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail">
                    <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ no_image }}" />
                  </a>
                  <input type="hidden" name="shipping_melhor_envio_imagem" value="{{ shipping_melhor_envio_imagem }}" id="input-image" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function formatarMoeda(i) {
      let v = i.value.replace(/[\D]+/g, '');

      if (v.length < 3) { v = ('000' + v).slice(-3); }

      v = v.replace(/([0-9]{2})$/g, ".$1");

      i.value = Number(v).toFixed(2);
    }

    function formatarNumero(i) {
      const v = i.value.replace(/[\D]+/g, '');

      i.value = v;
    }

    function removerTr(e) {
      e.closest('tr').remove();
    }

    $('input[name=shipping_melhor_envio_prefixo][type=text]').on('keyup change', function() {
      const value = $(this).val().toUpperCase().replace(/[^A-Za-z]/g,'');

      $(this).val(value);
    });

    $('input[name=shipping_melhor_envio_total][type=text], input[name=shipping_melhor_envio_peso_minimo][type=text], input[name=shipping_melhor_envio_peso_maximo][type=text], input[name=shipping_melhor_envio_custo_adicional][type=text]').on('keyup change', function() {
      formatarMoeda(this);
    });

    $('input[name=shipping_melhor_envio_remetente_telefone][type=text], input[name=shipping_melhor_envio_remetente_cnpj][type=text], input[name=shipping_melhor_envio_remetente_cep][type=text], input[name=shipping_melhor_envio_remetente_numero][type=text], input[name=shipping_melhor_envio_remetente_cnae][type=text]').on('keyup change', function() {
      formatarNumero(this);
    });

    $('select[name="shipping_melhor_envio_remetente_uf"]').on('change', function() {
      agencias($(this).val());
    });

    $('select[name="shipping_melhor_envio_remetente_uf"]').trigger('change');

    if ($('#servicos').is(':empty')) {
      servicos();
    }

    function servicos() {
      $.ajax({
        url: 'index.php?route=extension/shipping/melhor_envio/servicos&user_token={{ user_token }}',
        dataType: 'json',
        cache: false,
        beforeSend: function() {
          $('#servicos').empty().html('<tr><td class="text-center" colspan="5">{{ text_loading }}</td></tr>');

          $('button').prop('disabled', true);
        },
        complete: function() {
          $('button').prop('disabled', false);
        },
        success: function(json) {
          html = '';

          for (i = 0; i <= json.length-1; i++) {
            html += `
              <tr>
                <td class="text-left">
                  <input type="text" name="shipping_melhor_envio_servicos[${i}][transportadora]" value="${json[i]['transportadora']}" placeholder="" class="form-control" readonly />
                </td>
                <td class="text-left">
                  <input type="text" name="shipping_melhor_envio_servicos[${i}][servico]" value="${json[i]['servico']}" placeholder="" class="form-control" readonly />
                  <input type="hidden" name="shipping_melhor_envio_servicos[${i}][id]" value="${json[i]['id']}" />
                </td>
                <td class="text-left">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <input type="text" name="shipping_melhor_envio_servicos[${i}][descricao]" value="${json[i]['descricao']}" placeholder="" class="form-control" maxlength="40" />
                  </div>
                </td>
                <td class="text-left">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                    <input type="text" name="shipping_melhor_envio_servicos[${i}][prazo_adicional]" value="${json[i]['prazo_adicional']}" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="3" />
                  </div>
                </td>
                <td class="text-left">
                  <select name="shipping_melhor_envio_servicos[${i}][status]" class="form-control">
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  </select>
                </td>
              </tr>`;
          }

          $('#servicos').empty().html(html);
        }
      });
    };

    function agencias(uf) {
      $('select[name="shipping_melhor_envio_remetente_agencia"]').html('');

      $.ajax({
        url: 'index.php?route=extension/shipping/melhor_envio/agencias&user_token={{ user_token }}&uf=' + uf,
        dataType: 'json',
        cache: false,
        beforeSend: function() {
          $('select[name="shipping_melhor_envio_remetente_agencia"]').html('<option value="">{{ text_loading }}</option>');

          $('select').prop('disabled', true);
        },
        complete: function() {
          $('select').prop('disabled', false);
        },
        success: function(json) {
          html = '<option value="">{{ text_select }}</option>';

          for (i = 0; i <= json.length-1; i++) {
            if (json[i]['id'] == '{{ shipping_melhor_envio_remetente_agencia }}') {
              html += '<option value="' + json[i]['id'] + '" selected>' + json[i]['name'] + ', ' + json[i]['address'] + ', ' + json[i]['district'] + ', ' + json[i]['city'] + '</option>';
            } else {
              html += '<option value="' + json[i]['id'] + '">' + json[i]['name'] + ', ' + json[i]['address'] + ', ' + json[i]['district'] + ', ' + json[i]['city'] + '</option>';
            }
          }

          $('select[name="shipping_melhor_envio_remetente_agencia"]').html(html);
        }
      });
    };

    var promocoes_row = {{ promocoes_row }};

    function addPromocao() {
      html  = '<tr id="promocao-row' + promocoes_row + '">';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_promocoes[' + promocoes_row + '][servico]" class="form-control">';
      {% if servicos_data %}
      {% for servico in servicos_data %}
      html += '      <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>';
      {% endfor %}
      {% endif %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][descricao]" value="" placeholder="" class="form-control" maxlength="40" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][cep_inicial]" value="" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][cep_final]" value="" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][total]" value="" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][peso_minimo]" value="" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][peso_maximo]" value="" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" /></td>';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_promocoes[' + promocoes_row + '][tipo_desconto]" class="form-control">';
      {% for chave, valor in descontos_data %}
      html += '      <option value="{{ chave }}">{{ valor }}</option>';
      {% endfor %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_promocoes[' + promocoes_row + '][desconto]" value="" placeholder="" class="form-control" onkeyup="formatarMoeda(this)" maxlength="8" /></td>';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_promocoes[' + promocoes_row + '][customer_group]" class="form-control">';
      html += '      <option value="">{{ text_all }}</option>';
      {% for customer_group in customer_groups_data %}
      html += '      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>';
      {% endfor %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left">';
      html += '    <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>';
      html += '  </td>';
      html += '</tr>';

      $('#promocoes tbody').append(html);

      promocoes_row++;
    };

    var restricoes_row = {{ restricoes_row }};

    function addRestricao() {
      html  = '<tr id="restricao-row' + restricoes_row + '">';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_restricoes[' + restricoes_row + '][servico]" class="form-control">';
      {% if servicos_data %}
      {% for servico in servicos_data %}
      html += '      <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>';
      {% endfor %}
      {% endif %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_restricoes[' + restricoes_row + '][descricao]" value="" placeholder="" class="form-control" maxlength="40" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_restricoes[' + restricoes_row + '][cep_inicial]" value="" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" /></td>';
      html += '  <td class="text-left"><input type="text" name="shipping_melhor_envio_restricoes[' + restricoes_row + '][cep_final]" value="" placeholder="" class="form-control" onkeyup="formatarNumero(this)" maxlength="8" /></td>';
      html += '  <td class="text-left">';
      html += '    <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>';
      html += '  </td>';
      html += '</tr>';

      $('#restricoes tbody').append(html);

      restricoes_row++;
    };

    var bloqueios_row = {{ bloqueios_row }};

    function novoBloqueio() {
      html  = '<tr id="bloqueio-row' + bloqueios_row + '">';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_bloqueios[' + bloqueios_row + '][servico]" class="form-control">';
      {% if servicos_data %}
      {% for servico in servicos_data %}
      html += '      <option value="{{ servico.id }}">{{ servico.transportadora }} - {{ servico.servico }}</option>';
      {% endfor %}
      {% endif %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left">';
      html += '    <select name="shipping_melhor_envio_bloqueios[' + bloqueios_row + '][category_id]" class="form-control">';
      html += '      <option value="" selected="selected"></option>';
      {% for category in categories_data %}
      html += '      <option value="{{ category.category_id }}">{{ category.name }}</option>';
      {% endfor %}
      html += '    </select>';
      html += '  </td>';
      html += '  <td class="text-left">';
      html += '    <button type="button" onclick="removerTr(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove }}</button>';
      html += '  </td>';
      html += '</tr>';

      $('#bloqueios tbody').append(html);

      bloqueios_row++;
    };
  </script>
</div>
{{ footer }}