{{ header }}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="view/stylesheet/emdata/colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<!--<link href="view/stylesheet/emadmin/emadminstyle.css" rel="stylesheet">-->
<style>
.page-header h1{
	margin-left:10px;
}
.emlogo{
	margin-top: -22px;
    margin-left: -20px;
    float: left;
}
</style>
{{ column_left }}
<div id="content" class="em-con">
  <div class="page-header empage-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-setting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
         {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
   {{ commonhead }}
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-setting" class="form-horizontal">			
		
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-general" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_general }}</a></li>
				<!--<li><a href="#tab-language" data-toggle="tab"><i class="fa fa-language"></i> {{ tab_language }}</a></li>-->
				<li><a href="#tab-emailnotify" data-toggle="tab"><i class="fa fa-bell"></i> {{ tab_email_notify }}</a></li>
				<li><a href="#tab-emailtemp" data-toggle="tab"><i class="fa fa-map"></i> {{ tab_emailtemp }}</a></li>
				<li><a href="#tab-page-setup" data-toggle="tab"><i class="fa fa-columns"></i> {{ tab_page_setup }}</a></li>
				<li><a href="#tab-support" data-toggle="tab"><i class="fa fa-life-ring"></i> {{ tab_support }}</a></li>
			</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="tab-general">
			
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
					<div class="col-sm-10">
						  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
					</div>
				</div>
			
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
					  <select name="status" id="input-status" class="form-control">
						{% if status %}
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %}
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					  </select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-who_create_ticket">{{ entry_who_create_ticket }}<span data-toggle="tooltip" title="" data-original-title="If this option disable then Guest cant submit Ticket."></span></label>
					<div class="col-sm-10">
						<div class="checkbox">
						  <label>
							<input type="checkbox" data-toggle="toggle" name="who_create_ticket" id="input-who_create_ticket" class="form-control" value="1" {% if who_create_ticket %} checked {% endif %} data-on="Enable" data-off="Disable">							
						  </label>
						</div>
					  
					</div>
				</div>
				
			<!--	<div class="form-group">
					<label class="col-sm-2 control-label"><?php echo $entry_logo; ?></label>
					<div class="col-sm-10"><a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail"><img src="<?php echo $thumb; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a>
					  <input type="hidden" name="logo" value="<?php echo $logo; ?>" id="input-logo" />
					</div>
				</div>-->
				
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ entry_banner }}</label>
					<div class="col-sm-10"><a href="" id="thumb-banner" data-toggle="image" class="img-thumbnail"><img src="{{ bannerthumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
					  <input type="hidden" name="banner" value="{{ banner }}" id="input-banner" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-tstatus">{{ entry_tstatus }}</label>
					<div class="col-sm-10">
					  <select name="tstatus" id="input-tstatus" class="form-control">					
					  {% for stats in statuss %}
						<option value="{{ stats.id }}" {% if tstatus== stats.id %} selected {% endif %}>{{ stats.name }}</option>
					  {% endfor %}					
						
					  </select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-ticket_close_status">{{ entry_ticket_close_status }}<span data-toggle="tooltip" title="" data-original-title="{{ help_ticket_close_status }}"></span></label>					
					<div class="col-sm-10">
					  <select name="ticket_close_status" id="input-ticket_close_status" class="form-control">							
						{% for stats in statuss %}
						<option value="{{ stats.id }}" {% if ticket_close_status== stats.id %} selected {% endif %}>{{ stats.name }}</option>
						{% endfor %}
					  </select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-ticket_waiting_status">{{ entry_ticket_waiting_status }}<span data-toggle="tooltip" title="" data-original-title="{{ help_ticket_waiting_status }}"></span></label>
					<div class="col-sm-10">
					  <select name="ticket_waiting_status" id="input-ticket_waiting_status" class="form-control">
						{% for stats in statuss %}
						<option value="{{ stats.id }}" {% if ticket_waiting_status== stats.id %} selected {% endif %}>{{ stats.name }}</option>
						{% endfor %}						
					  </select>
					</div>
				</div>
				
				
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-priority">{{ entry_priority }}</label>
					<div class="col-sm-10">
					  <select name="priority" id="input-priority" class="form-control">					
						{% for priorit in prioritys %}
						<option value="{{ priorit.priority_id }}" {% if priority== priorit.priority_id %} selected {% endif %} >{{ priorit.name }}</option>
						{% endfor %}
						
					  </select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-ticket-limit">{{ entry_ticket_limit }}</label>
					<div class="col-sm-10">
						  <input type="text" name="ticket_limit" value="{{ ticket_limit }}" placeholder="{{ entry_ticket_limit }}" id="input-ticket-limit" class="form-control" />
					</div>
				</div>
				
			</div>
			
			<div class="tab-pane" id="tab-language">
				
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-supportpage" data-toggle="tab"><i class="fa fa-life-ring"></i> {{ tab_supportpage }}</a></li>
				<li><a href="#tab-submitpage" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_submitpage }}</a></li>
				<li><a href="#tab-successpage" data-toggle="tab"><i class="fa fa-thumbs-up"></i> {{ tab_successpage }}</a></li>
				
			</ul>
			
			 <div class="tab-content">
				<div class="tab-pane active" id="tab-supportpage">
				
			  <ul class="nav nav-tabs" id="language">
			  {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                 {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_heading }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="supportpage_description[{{ language.language_id }}][name]" value="{{ (supportpage_description[language.language_id]) ? supportpage_description[language.language_id].name }}" placeholder="{{ entry_heading }}" id="input-name{{ language.language_id }}" class="form-control" />
					{% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
					{% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="supportpage_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" class="form-control summernote">{{ (supportpage_description[language.language_id]) ? supportpage_description[language.language_id].description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="supportpage_description[{{ language.language_id }}][meta_title]" value="{{ (supportpage_description[language.language_id]) ? supportpage_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="supportpage_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ (supportpage_description[language.language_id]) ? supportpage_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="supportpage_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ (supportpage_description[language.language_id]) ? supportpage_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>
                </div>
               {% endfor %}
              </div>
			  
              </div>
			  
			  
			  <div class="tab-pane" id="tab-submitpage">			  
			  
			  </div>
			  
			  <div class="tab-pane" id="tab-successpage">
			  
			  </div>
			  
			  
              </div>
				
			</div>
			
			<div class="tab-pane" id="tab-emailnotify">			
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-user-newticket-alert">{{ entry_user_newticket_alert }}<span data-toggle="tooltip" title="" data-original-title="Email to Customer when he submit a Ticket Request"></span></label>
					<div class="col-sm-10">
						 <div class="checkbox">
						  <label>
							<input type="checkbox" data-toggle="toggle" name="user_newticket_alert" id="input-user-newticket-alert" class="form-control" value="1" {% if user_newticket_alert %} checked {% endif %}>							
						  </label>
						</div>					  
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-admin-newticket-alert">{{ entry_admin_newticket_alert }}<span data-toggle="tooltip" title="" data-original-title="Email to Admin when Customer submit Ticket Request"></span></label>
					<div class="col-sm-10">
						 <div class="checkbox">
						  <label>
							<input type="checkbox" data-toggle="toggle" name="admin_newticket_alert" id="input-admin-newticket-alert" class="form-control" value="1" {% if admin_newticket_alert %} checked {% endif %}>							
						  </label>
						</div>					  
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-admin-reply-alert">{{ entry_admin_reply_alert_customer }}<span data-toggle="tooltip" title="" data-original-title="Email to Customer when Admin replies to Customer's Ticket"></span></label>
					<div class="col-sm-10">
						 <div class="checkbox">
						  <label>
							<input type="checkbox" data-toggle="toggle" name="admin_reply_alert_customer" id="input-admin-reply-alert" class="form-control" value="1" {% if admin_reply_alert_customer %} checked {% endif %} >							
						  </label>
						</div>					  
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-customer-reply-alert">{{ entry_customer_reply_alert_admin }}<span data-toggle="tooltip" title="" data-original-title="Email to Admin when Customer replies to his Ticket"></span></label>
					<div class="col-sm-10">
						 <div class="checkbox">
						  <label>
							<input type="checkbox" data-toggle="toggle" name="customer_reply_alert_admin" id="input-customer-reply-alert" class="form-control" value="1" {% if customer_reply_alert_admin %} checked {% endif %} >						
						  </label>
						</div>					  
					</div>
				</div>
				
				
				
			
			</div>
			
			
			<div class="tab-pane" id="tab-emailtemp">
			
				<div class="row">
					<div class="col-sm-4">				
						<div class="panel panel-default" style="border: 1px solid #dddddd;">
							<div class="panel-heading">Short-Codes</div>
							<div class="panel-body" style="line-height: 25px; ">
							
								#	Customer First Name - {firstname}<br/>
								#	Customer Last Name - {lastname}<br/>
								#	Customer Email - {email}<br/>
								#	Customer Telephone - {telephone}<br/>
								#	Ticket Priority - {priority}<br/>
								#	Ticket Department - {department}<br/>
								#	Ticket Subject - {subject}<br/>
								#	Customer Message - {customermessage}<br/>
								#	Ticket Status - {ticketstatus}<br/>
								#	Customer's Ticket Link - {link}<br/>
								#	Ticket Id - {ticketid}<br/>
							
							</div>
						 </div>
					</div>
					<div class="col-sm-8">
					
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-usertemp" data-toggle="tab"> {{ entry_user_newticket_alert }}</a></li>
							<li><a href="#tab-admintemp" data-toggle="tab"> {{ entry_admin_newticket_alert }}</a></li>
						</ul>
						
						<div class="tab-content">
						<div class="tab-pane active" id="tab-usertemp">
					
					
					
						<ul class="nav nav-tabs" id="emailtemp-language">
							{% for language in languages %}
							<li><a href="#emailtemp-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
							{% endfor %}
						</ul>
						
					
						<div class="tab-content">
							
							{% for language in languages %}
							
							<div class="tab-pane" id="emailtemp-language{{ language.language_id }}">
														
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-user_newticket{{ language.language_id }}">{{ entry_user_newticket_alert }}</label>
									<div class="col-sm-10">
										<textarea name="emailtemp_description[{{ language.language_id }}][user_newticket]" placeholder="{{ entry_user_newticket_alert }}" id="input-user_newticket{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ (emailtemp_description[language.language_id]) ? emailtemp_description[language.language_id].user_newticket }}</textarea>
									</div>
								</div>	
							  
							</div>
							{% endfor %}						
							
							
							
						</div>
						</div>
						
						<div class="tab-pane" id="tab-admintemp">
					
					
					
						<ul class="nav nav-tabs" id="emailtempp-language">
							{% for language in languages %}
							<li><a href="#emailtempp-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
							{% endfor %}
						</ul>
						
					
						<div class="tab-content">
							
							{% for language in languages %}
							
							<div class="tab-pane" id="emailtempp-language{{ language.language_id }}">
								
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-admin_newticket{{ language.language_id }}">{{ entry_admin_newticket_alert }}</label>
									<div class="col-sm-10">
										<textarea name="emailtemp_description[{{ language.language_id }}][admin_newticket]" placeholder="{{ entry_admin_newticket_alert }}" id="input-admin_newticket{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ (emailtemp_description[language.language_id]) ? emailtemp_description[language.language_id].admin_newticket }}</textarea>
									</div>
								</div>							
							  
							</div>
							{% endfor %}						
							
							
							
						</div>
						</div>
						
						
						
						
						</div>
				
					</div>
				</div>
			
			</div>
			
			
			<div class="tab-pane" id="tab-page-setup">
				
				<ul class="nav nav-tabs">
				
					<li class="active"><a href="#tab-page-tickethome" data-toggle="tab"><i class="fa fa-home"></i> {{ tab_tickethome }}</a></li>
					<li><a href="#tab-page-mytickets" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_mytickets }}</a></li>
					<li><a href="#tab-page-knowledge" data-toggle="tab"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ tab_knowledge }}</a></li>
					<li><a href="#tab-page-viewticket" data-toggle="tab"><i class="fa fa-ticket" aria-hidden="true"></i> {{ tab_viewticket }}</a></li>
					<li><a href="#tab-page-createticket" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i> {{ tab_createticket }}</a></li>
					
				</ul>
			
					<div class="tab-content">

						
						<div class="tab-pane active" id="tab-page-tickethome">
							
							<ul class="nav nav-tabs" id="tickethome-language">
								{% for language in languages %}
								<li><a href="#tickethome-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
						
             			<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="tickethome-language{{ language.language_id }}">
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_heading }}</label>
								<div class="col-sm-10">
								  <input type="text" name="tickethome_description[{{ language.language_id }}][name]" value="{{ (tickethome_description[language.language_id]) ? tickethome_description[language.language_id].name }}" placeholder="{{ entry_heading }}" id="input-name{{ language.language_id }}" class="form-control" />
								  {% if error_name[language.language_id] %}
								  <div class="text-danger">{{ error_name[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							 
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
								<div class="col-sm-10">
								  <input type="text" name="tickethome_description[{{ language.language_id }}][meta_title]" value="{{ (tickethome_description[language.language_id]) ? tickethome_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
								  {% if error_meta_title[language.language_id] %}
								  <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
								<div class="col-sm-10">
								  <textarea name="tickethome_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ (tickethome_description[language.language_id]) ? tickethome_description[language.language_id].meta_description }}</textarea>
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
								<div class="col-sm-10">
								  <textarea name="tickethome_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ (tickethome_description[language.language_id]) ? tickethome_description[language.language_id].meta_keyword }}</textarea>
								</div>
							  </div>
							</div>
							{% endfor %}
						</div>
						
						<h3> {{ text_color_setting  }} </h3>
						
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-ticket-heading_clr">{{ entry_heading_clr  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="ticket_heading_clr" placeholder="{{ entry_heading_clr  }}" type="text" class="form-control cp1" value="{{ ticket_heading_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-create_ticket_box_clr">{{ entry_create_ticket_box_clr  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="create_ticket_box_clr" placeholder="{{ entry_create_ticket_box_clr  }}" type="text" class="form-control cp1" value="{{ create_ticket_box_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-create_ticket_box_bg">{{ entry_create_ticket_box_bg  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="create_ticket_box_bg" placeholder="{{ entry_create_ticket_box_bg  }}" type="text" class="form-control cp1" value="{{ create_ticket_box_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-my_ticket_box_clr">{{ entry_my_ticket_box_clr  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="my_ticket_box_clr" placeholder="{{ entry_my_ticket_box_clr  }}" type="text" class="form-control cp1" value="{{ my_ticket_box_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-my_ticket_box_bg">{{ entry_my_ticket_box_bg  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="my_ticket_box_bg" placeholder="{{ entry_my_ticket_box_bg  }}" type="text" class="form-control cp1" value="{{ my_ticket_box_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-knowledge_box_bg">{{ entry_knowledge_box_bg  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="knowledge_box_bg" placeholder="{{ entry_knowledge_box_bg  }}" type="text" class="form-control cp1" value="{{ knowledge_box_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-knowledge_box_clr">{{ entry_knowledge_box_clr  }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="knowledge_box_clr" placeholder="{{ entry_knowledge_box_clr  }}" type="text" class="form-control cp1" value="{{ knowledge_box_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
						
						
						</div>
						
						
						<div class="tab-pane" id="tab-page-mytickets">
						
							<ul class="nav nav-tabs" id="myticket-language">
								{% for language in languages %}
								<li><a href="#myticket-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
						
							<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="myticket-language{{ language.language_id }}">
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_heading }}</label>
								<div class="col-sm-10">
								  <input type="text" name="myticket_description[{{ language.language_id }}][name]" value="{{ (myticket_description[language.language_id]) ? myticket_description[language.language_id].name }}" placeholder="{{ entry_heading }}" id="input-name{{ language.language_id }}" class="form-control" />
								  {% if error_name[language.language_id] %}
								  <div class="text-danger">{{ error_name[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							 
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
								<div class="col-sm-10">
								  <input type="text" name="myticket_description[{{ language.language_id }}][meta_title]" value="{{ (myticket_description[language.language_id]) ? myticket_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
								  {% if error_meta_title[language.language_id] %}
								  <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
								<div class="col-sm-10">
								  <textarea name="myticket_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ (myticket_description[language.language_id]) ? myticket_description[language.language_id].meta_description }}</textarea>
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
								<div class="col-sm-10">
								  <textarea name="myticket_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ (myticket_description[language.language_id]) ? myticket_description[language.language_id].meta_keyword }}</textarea>
								</div>
							  </div>
							</div>
							{% endfor %}
						</div>
								
								
								
							
							
							
						
							<h3>{{ text_search_filter  }}</h3>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-heading_clr">{{ entry_heading_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="heading_clr" placeholder="{{ entry_heading_clr  }}" type="text" class="form-control cp1" value="{{ heading_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-heading_bg">{{ entry_heading_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="heading_bg" placeholder="{{ entry_heading_bg  }}" type="text" class="form-control cp1" value="{{ heading_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-list_item_clr">{{ entry_list_item_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="list_item_clr" placeholder="{{ entry_list_item_clr  }}" type="text" class="form-control cp1" value="{{ list_item_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-list_item_bg">{{ entry_list_item_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="list_item_bg" placeholder="{{ entry_list_item_bg  }}" type="text" class="form-control cp1" value="{{ list_item_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							
						</div>
						
						
						<div class="tab-pane" id="tab-page-knowledge">
							
							<ul class="nav nav-tabs" id="knowledgebase-language">
								{% for language in languages %}
								<li><a href="#knowledgebase-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
						
             			<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="knowledgebase-language{{ language.language_id }}">
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_heading }}</label>
								<div class="col-sm-10">
								  <input type="text" name="knowledgebase_description[{{ language.language_id }}][name]" value="{{ (knowledgebase_description[language.language_id]) ? knowledgebase_description[language.language_id].name }}" placeholder="{{ entry_heading }}" id="input-name{{ language.language_id }}" class="form-control" />
								  {% if error_name[language.language_id] %}
								  <div class="text-danger">{{ error_name[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							 
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
								<div class="col-sm-10">
								  <input type="text" name="knowledgebase_description[{{ language.language_id }}][meta_title]" value="{{ (knowledgebase_description[language.language_id]) ? knowledgebase_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
								  {% if error_meta_title[language.language_id] %}
								  <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
								<div class="col-sm-10">
								  <textarea name="knowledgebase_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ (knowledgebase_description[language.language_id]) ? knowledgebase_description[language.language_id].meta_description }}</textarea>
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
								<div class="col-sm-10">
								  <textarea name="knowledgebase_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ (knowledgebase_description[language.language_id]) ? knowledgebase_description[language.language_id].meta_keyword }}</textarea>
								</div>
							  </div>
							</div>
							{% endfor %}
						</div>
						
						
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-knowledge_title_clr">{{ entry_knowledge_title_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="knowledge_title_clr" placeholder="{{ entry_knowledge_title_clr  }}" type="text" class="form-control cp1" value="{{ knowledge_title_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-knowledge_border">{{ entry_knowledge_border }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="knowledge_border" placeholder="{{ entry_knowledge_border  }}" type="text" class="form-control cp1" value="{{ knowledge_border  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-tab_clr">{{ entry_tab_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="tab_clr" placeholder="{{ entry_tab_clr  }}" type="text" class="form-control cp1" value="{{ tab_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-tab_active_clr">{{ entry_tab_active_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="tab_active_clr" placeholder="{{ entry_tab_active_clr  }}" type="text" class="form-control cp1" value="{{ tab_active_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-tab_bg">{{ entry_tab_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="tab_bg" placeholder="{{ entry_tab_bg  }}" type="text" class="form-control cp1" value="{{ tab_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-tab_active_bg">{{ entry_tab_active_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="tab_active_bg" placeholder="{{ entry_tab_active_bg  }}" type="text" class="form-control cp1" value="{{ tab_active_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							
							<h3>{{ text_article_setting  }}</h3>
							
							
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-section-clr">{{ entry_section_clr }}</label>
									<div class="col-sm-10">						
										<div class="input-group colorpicker-component cp1">
											<input name="section_clr" placeholder="{{ entry_section_clr  }}" type="text" class="form-control cp1" value="{{ section_clr  }}" />
											<span class="input-group-addon"><i></i></span>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-article-clr">{{ entry_article_clr }}</label>
									<div class="col-sm-10">						
										<div class="input-group colorpicker-component cp1">
											<input name="article_clr" placeholder="{{ entry_article_clr  }}" type="text" class="form-control cp1" value="{{ article_clr  }}" />
											<span class="input-group-addon"><i></i></span>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-article-clr">{{ entry_articledate_clr }}</label>
									<div class="col-sm-10">						
										<div class="input-group colorpicker-component cp1">
											<input name="articledate_clr" placeholder="{{ entry_articledate_clr  }}" type="text" class="form-control cp1" value="{{ articledate_clr  }}" />
											<span class="input-group-addon"><i></i></span>
										</div>
									</div>
								</div>
						
						</div>

						<div class="tab-pane" id="tab-page-viewticket">
						
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panel-head-clr">{{ entry_panelhead_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelhead_clr" placeholder="{{ entry_panelhead_clr }}" type="text" class="form-control cp1" value="{{ panelhead_clr }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panel-head-bg">{{ entry_panelhead_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelhead_bg" placeholder="{{ entry_panelhead_bg }}" type="text" class="form-control cp1" value="{{ panelhead_bg }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panelcust-head-clr">{{ entry_panelcusthead_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelcusthead_clr" placeholder="{{ entry_panelcusthead_clr }}" type="text" class="form-control cp1" value="{{ panelcusthead_clr }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panelcust-head-bg">{{ entry_panelcusthead_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelcusthead_bg" placeholder="{{ entry_panelcusthead_bg  }}" type="text" class="form-control cp1" value="{{ panelcusthead_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							


							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-paneladmin-head-clr">{{ entry_paneladminhead_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="paneladminhead_clr" placeholder="{{ entry_paneladminhead_clr }}" type="text" class="form-control cp1" value="{{ paneladminhead_clr }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-paneladmin-head-bg">{{ entry_paneladminhead_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="paneladminhead_bg" placeholder="{{ entry_paneladminhead_bg }}" type="text" class="form-control cp1" value="{{ paneladminhead_bg }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panelreply-head-clr">{{ entry_panelreplyhead_clr }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelreplyhead_clr" placeholder="{{ entry_panelreplyhead_clr  }}" type="text" class="form-control cp1" value="{{ panelreplyhead_clr  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-panelreply-head-bg">{{ entry_panelreplyhead_bg }}</label>
								<div class="col-sm-10">						
									<div class="input-group colorpicker-component cp1">
										<input name="panelreplyhead_bg" placeholder="{{ entry_panelreplyhead_bg  }}" type="text" class="form-control cp1" value="{{ panelreplyhead_bg  }}" />
										<span class="input-group-addon"><i></i></span>
									</div>
								</div>
							</div>
							



						</div>
						
						<div class="tab-pane" id="tab-page-createticket">
						
							<h3> Create Ticket </h3>
							
								<ul class="nav nav-tabs" id="createticket-language">
								{% for language in languages %}
								<li><a href="#createticket-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
						
             			<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="createticket-language{{ language.language_id }}">
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_heading }}</label>
								<div class="col-sm-10">
								  <input type="text" name="createticket_description[{{ language.language_id }}][name]" value="{{ (createticket_description[language.language_id]) ? createticket_description[language.language_id].name }}" placeholder="{{ entry_heading }}" id="input-name{{ language.language_id }}" class="form-control" />
								  {% if error_name[language.language_id] %}
								  <div class="text-danger">{{ error_name[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							 
							  <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
								<div class="col-sm-10">
								  <input type="text" name="createticket_description[{{ language.language_id }}][meta_title]" value="{{ (createticket_description[language.language_id]) ? createticket_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
								  {% if error_meta_title[language.language_id] %}
								  <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
								  {% endif %}
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
								<div class="col-sm-10">
								  <textarea name="createticket_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ (createticket_description[language.language_id]) ? createticket_description[language.language_id].meta_description }}</textarea>
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
								<div class="col-sm-10">
								  <textarea name="createticket_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ (createticket_description[language.language_id]) ? createticket_description[language.language_id].meta_keyword }}</textarea>
								</div>
							  </div>
							</div>
							{% endfor %}
						</div>
							
							
							
						
						
						</div>
					
					</div>
				
			
			</div>
			
			
			<div class="tab-pane" id="tab-support">
				<div class="text-center">
				
				<div class="container-fluid">
				<div class="row">
				
					<div class="col-sm-3 col-offset-sm-1 text-left">
						<div class="form-group">
							<a target="_blank" href="http://modulemarket.in"><button type="button" class="btn btn-primary"><i class="fa fa-bars tab-icon"></i> More Extensions</button></a>
						</div>
					
						<!--<div class="form-group">
							<a target="_blank" href="#"><button type="button" class="btn btn-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy this Extension</button></a>
						</div>-->
					</div>
					
					<div class="col-sm-7">
						<div class="well well-lg em-well-age">
							<div class="row">
								<div class="col-sm-3">
									<h2><i class="fa fa-headphones tab-icon fa-3x"></i></h2>
								</div>
								<div class="col-sm-6">
									<button type="button" class="btn btn-light"><h3><i class="fa fa-envelope"></i> modulesmarket@gmail.com</h3></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<br>
						
			</div>
			
			</div>
			
			
		</div>
		
			  
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script>
	$(function() {
		$('.cp1').colorpicker();
	});
</script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#tickethome-language a:first').tab('show');
$('#createticket-language a:first').tab('show');
$('#myticket-language a:first').tab('show');
$('#knowledgebase-language a:first').tab('show');
$('#emailtemp-language a:first').tab('show');
$('#emailtempp-language a:first').tab('show');
//--></script>
{{ footer }}
<script src="view/stylesheet/emdata/colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>