{{ header }}
<link href="view/stylesheet/emdata/colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<style>
.page-header h1{
	margin-left:10px;
}
.emlogo{
	margin-top: -22px;
    margin-left: -20px;
    float: left;
}

.panel-heading a:after {
    /* symbol for "opening" panels */
    font-family: 'fontawesome';  /* essential for enabling glyphicon */
    content: "\f077";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading a.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
}
.panel-warning .panel-heading a:after {
	color:#000;
}
.msgdate{
	float:right;
	font-size:12px;
	padding:5px;
	margin-right:10px;
}
.msgdate i{
	font-size:16px;
}
.mainques{
	border: 2px solid #d4d4d4;
    padding: 18px 0px;
	margin-bottom:10px;
}
.replymessage{
	margin-right:10px;
}
.sg-icon-verified{
	color:green;
	font-size:21px;
	color:#fff;	

}
.sg-icon-unverified{
	color:#fff;	
	font-size:21px;
}
.emreply-panel p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 0px;
}
.emreply-panel .fa {
    font-size: 1.2em;
    margin-right: 10px;
    color: #333;
    float: left;
}
.emreply-panel {
    border: 0px solid #85bf56;
    border-radius: 50px;
    font-size: 16px;
    color: #000;
    /* font-weight: 600; */
    /* margin-top: 10px; */
}
.panel-warning>.panel-heading {
    color: #000;
    background-color: #ebebeb;
    border-color: #ebebeb;
}
.panel-warning{
	border-color: #ebebeb;
}
.panel-info > .panel-heading{
	background-color:#e1f1ff;
	color:#000;	
}
.panel-info-top > .panel-heading{
	background-color:#293141;
	color:#fff;	
}
.panel-info{
	border-color:#e1f1ff;
}
.emticket-panel-info .panel-heading > span{
	color:#000;
}
#attachment {
	margin-top:1rem;
}
</style>
{{ column_left }}
<div id="content" class="em-con">
  <div class="page-header empage-header">
    <div class="container-fluid">
      <div class="pull-right">       
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
         {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ commonhead }}
  <div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel-group">
			  <div class="panel panel-info panel-info-top">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse1{{ ticket_id }}">{{ entry_ticket_info }} </a>
				  </h4>
				</div>
				<div id="collapse1{{ ticket_id }}" class="panel-collapse collapse in">
				  <ul class="list-group">
					<li class="list-group-item"><p>{{ entry_ticket_id  }} - <b>#{{ ticket_id }}</b>  {% if customer_id %}
						<img src="view/image/verify.svg" height="26" style="float:right;" title='Verificado (envio pelo cliente)' onerror="this.onerror=null; this.src='view/image/verify.svg'">
					{% else %}
						<img src="view/image/not_verify.svg" height="26" style="float:right;" title='Não verificado (o cliente não fez login ao enviar a mensagem)' onerror="this.onerror=null; this.src='view/image/not_verify.svg'">
					{% endif %} <?php //echo $ticket_status ?> </p> </li>
					<li class="list-group-item">Status - <b>{{ ticket_status }}</b></li>
					<li class="list-group-item">{{ entry_subject }} - <b>{{ subject }}</b></li>
					<li class="list-group-item">{{ entry_department }} - <b>{{ department }}</b></li>
					<li class="list-group-item">{{ text_submitted }} - <b>{{ date_added }}</b></li>
					<li class="list-group-item">{{ text_last_updated }} - <b>{{ date_modified }}</b></li>
					<li class="list-group-item">{{ entry_priority }} - <b style="font-size:17px;">{{ priority }}</b></li>
				  </ul>
				</div>
			  </div>
			</div>
		</div>
		<div class="col-sm-6">		
			<div class="panel-group">
			  <div class="panel panel-info panel-info-top">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse2">{{ entry_client_info }}</a>
				  </h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse in">
				  <ul class="list-group">
					<li class="list-group-item">{{ entry_name }}:  <b style="font-size:12px;">{{ firstname~ ' '~lastname }}</b></li>
					<li class="list-group-item">{{ entry_email }}:  <b style="font-size:12px;">{{ email }}</b></li>
					<li class="list-group-item">{{ entry_telephone }}:  <b style="font-size:12px;">{{ telephone }}</b></li>
					<li class="list-group-item">{{ entry_ip }}:  <b style="font-size:12px;">{{ ip }}</b></li>
					<li class="list-group-item"> <i class="fa fa-user" style="font-size:12px;"></i> {{ entry_registered_customer }}: 
						{% if customer_registered==1 %}
							<span title='Verified'><i class='fa fa-check-circle sg-icon-verified'></i><b style="font-size:12px;">Cliente</b></span>
						{% else %}	
							<b style="font-size:12px;">Visitante</b>
						{% endif %}
					</li>	
				  </ul>				 
				</div>
			  </div>
			</div>			
		</div>	
	</div>	
	
	{% set error_var = 0 %}

	{% if error_warning or error_message %}
		{%	set error_var = 1 %}
	{% endif %}

	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-sm-12 panel-default">	
				<div class="panel-group" style="margin-top:40px;margin-bottom:35px;">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#replyform"><i class="fa fa-pencil"></i> Adicionar resposta à mensagem</a>
					</h4>
				</div>
				<div id="replyform" class="panel-collapse collapse {% if error_var %} in {% endif %}">
					<div class="container-fluid">
			<div class="row">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tickets" class="form-horizontal"> 			
				<input type="hidden" name="email" value="{{ email }}">
				<div class="col-sm-12">					         
					  <!--- copy paste from frontend -->
					<div class="form-group required">						
						<fieldset>
							<legend style="font-size:14px;">{{ entry_message }}:</legend>
							<textarea name="message" placeholder="{{ entry_message }}" id="input-message" class="form-control" rows="8" />{{ messager }}</textarea>
						{% if error_message %}
						  <div class="text-danger">{{ error_message }}</div>
						{% endif %}
						</fieldset>
					</div>	
					<div class="row">	
					<div class="form-groupg col-sm-4">
						<fieldset>
							<legend style="font-size:14px;">{{ entry_ticket_status }}:</legend>										
							<select name="ticket_status" id="input-ticket-status" class="form-control">		
								{% for statuse in statuss %}
				<option value="{{ statuse.id }}" {% if fticket_status==statuse.id %} selected {% endif %} >{{ statuse.name }}</option>
								{% endfor %}
							</select>
						</fieldset>	
					</div>
					<div class="form-groupg col-sm-4">
						<fieldset>
							<legend style="font-size:14px;">{{ entry_priority }}:</legend>										
							<select name="priority" id="input-priority" class="form-control">
								{% for priorityy in prioritys %}
								<option value="{{ priorityy.priority_id }}" {% if fpriority==priorityy.priority_id %} selected {% endif %} >{{ priorityy.name }}</option>
								{% endfor %}
							</select>
						</fieldset>	
					</div>
					<div class="form-groupg col-sm-4">
						<fieldset>
							<legend style="font-size:14px;">{{ entry_department }}:</legend>										
							<select name="department" id="input-department" class="form-control" >
								{% for departmentt in departments %}
									<option value="{{ departmentt.department_id }}" {% if fdepartment==departmentt.department_id %} selected {% endif %}>{{ departmentt.name }}</option>
								{% endfor %}
							</select>
						</fieldset>	
					</div>
					</div>
				<fieldset id="attachment">
				  <legend style="font-size:14px;">{{ text_attachment }}</legend>
				  <div class="form-group">
					<label class="col-sm-10 control-label" for="input-priority">{{ entry_attachment }}</label>
					<div class="col-sm-2">
					<div id="emattachs" class="">
					{% for rattachment in rattachments %}
					<div><i class="fa fa-minus-circle"></i> {{ rattachment.name }}<input type="hidden" name="attachments[]" value="{{ rattachment.code }}" /></div>
					{% endfor %}
					</div>
					<button type="button" id="emfile-upload" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
					</div>
				  </div>
				</fieldset> 
					<div class="form-group required">
						  <button type="submit" form="form-tickets" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-info pull-right"><i class="fa fa-reply"></i> {{ button_submit }}</button>
					</div>	
				</div>	
				</form>
			</div>	
				</div>
			</div>
		</div>
		</div>
				{% for reply in replies %}				
					
					{% if reply.user_identity==2 %}
						{% set almsg = "warning" %}				
					{% else %}
						{% set almsg = "info" %}	
					{% endif %}
					<div class="panel-group">						
					  <div class="panel panel-{{ almsg }}  emticket-panel-info">
					  <div class="panel-heading">					  
					  {% if reply.user_identity==2 %}
							<div class="emreply-panel" style="">
								<i class="fa fa-user"></i>
								Resposta Operador
								<p style="color:#333;"> {{ reply.date_added }}</p>
							</div>
						{% else %}
							<div class="emreply-panel" style="">
								<i class="fa fa-user"></i>
								{{ firstname~' '~lastname }}
								<p style="color:#333;"> {{ reply.date_added }}</p>
							</div>
						{% endif %}
					  </div>
						<div class="panel-body">
						{{ reply.message }}
							{% for attachs in reply.reply_attachs %}	
								<p style="text-align:right;"><a href="{{ attachs.download }}"><i class="fa fa-download"></i> {{ attachs.name }}</a></p>
							{% endfor %}
						</div>
					  </div>			  
					</div>
				{% endfor %}
			<!-- <div class="row mainques">
					<div class="col-sm-2 text-center">
						<img src="{{ customer_image }}" alt="Enquiry" title="Customer" class="">
						<div style="border:0px solid #85bf56; border-radius:50px; height:25px;padding: 4px 19px; line-height:1; font-size:14px; color:cadetblue; font-weight:600;margin-top:10px;">{{ firstname~' '~lastname }}:</div>
					</div>
					<div class="col-sm-10">
					<span class="msgdate label label-primary"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ mdate_added }}</span><br><br>
						<div class="alert alert-success replymessage">
							{{ message }}
							{% for attachment in attachments %}
								<p><a href="{{ attachment['download'] }}"><i class="fa fa-download"></i> {{ attachment['name'] }}</a></p>
							
							{% endfor %}	
						</div>
					</div>
				</div>	-->			
			<div class="panel-group">						
			  <div class="panel panel-info emticket-panel-info">
				<div class="panel-heading">						
					<div class="emreply-panel" style="">
						<i class="fa fa-user"></i>
						<span>{{ firstname~' '~lastname }} </span>
						<p style="color:#333;">{{ date_added }}</p>
					</div>
				</div>			  
				<div class="panel-body">
				{{ message }}
					{% for attachment in attachments %}
						<p style="text-align:right;"><a href="{{ attachment.download }}"><i class="fa fa-download"></i> {{ attachment.name }}</a></p>				
					{% endfor %}				
				</div>
			  </div>			  
			</div>
			</div>
		</div>
	</div>
		</div>	
  
  
	
	
	
   
  </div>
</div>
 <script type="text/javascript"><!--
$('button[id^=\'emfile-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=emticket/emticketview/upload&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						 $('#emattachs').append('<div><i class="fa fa-minus-circle"></i> ' + json['filename'] + '<input type="hidden" name="attachments[]" value="' + json['code'] + '" /></div>');
						alert(json['success']);

						
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

 $('#emattachs').delegate('.fa-minus-circle', 'click', function () {
                            $(this).parent().remove();
    });
//--></script>

  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
{{ footer }}