{{ header }}
<link href="view/stylesheet/emdata/colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tickets" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
         <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tickets" class="form-horizontal">          
		  
		  		  
		  <!--- copy paste from frontend -->
		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
              {% if error_firstname %}
              <div class="text-danger">{{ error_firstname }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />              
			  {% if error_lastname %}
              <div class="text-danger">{{ error_lastname }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
			  {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-10">
              <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
			  {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-priority">{{ entry_priority }}</label>
            <div class="col-sm-10">
				<select name="priority" id="input-priority" class="form-control">
					{% for priorityy in prioritys %}
						<option value="{{ priorityy.priority_id }}" {% if priority==priorityy.priority_id %} selected {% endif %} >{{ priorityy.name }}</option>
					{% endfor %}
				</select>
				{% if error_priority %}
              <div class="text-danger">{{ error_priority }}</div>
              {% endif %}
            </div>
          </div>
		  
		    <div class="form-group">
            <label class="col-sm-2 control-label" for="input-ticket-status">{{ entry_ticket_status }}</label>
            <div class="col-sm-10">
				<select name="ticket_status" id="input-ticket-status" class="form-control">
					{% for statuse in statuss %}
						<option value="{{ statuse.id }}"  {% if ticket_status==statuse.id %} selected {% endif %} >{{ statuse.name }}</option>
					{% endfor %}
				</select>
				 {% if error_ticket_status %}
              <div class="text-danger">{{ error_ticket_status }}</div>
              {% endif %}
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-department">{{ entry_department }}</label>
            <div class="col-sm-10">
				<select name="department" id="input-department" class="form-control" >
					{% for departmentt in departments %}
						<option value="{{ departmentt.department_id }}" {% if department==departmentt.department_id %} selected {% endif %} >{{ departmentt.name }}</option>
					{% endfor %}
				</select>
				 {% if error_department %}
              <div class="text-danger">{{ error_department }}</div>
              {% endif %}
            </div>
          </div>
		  
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
            <div class="col-sm-10">
              <input type="text" name="subject" value="{{ subject }}" placeholder="{{ entry_subject }}" id="input-subject" class="form-control" />
			   {% if error_subject %}
              <div class="text-danger">{{ error_subject }}</div>
              {% endif %}
            </div>
          </div>
		  
         <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-message">{{ entry_message }}</label>
            <div class="col-sm-10">
              <textarea type="text" name="message" placeholder="{{ entry_message }}" id="input-message" class="form-control" rows="8" />{{ message }}</textarea>
			   {% if error_message %}
              <div class="text-danger">{{ error_message }}</div>
              {% endif %}
            </div>
          </div>
		  <!--- copy paste from frontend -->
		  
		  <fieldset id="attachment" class="col-sm-6 col-sm-offset-6">
          <legend>{{ text_attachment }}</legend>
		  
          <div class="form-group text-right">
            <label class="col-sm-2 control-label" for="input-priority">{{ entry_attachment }}</label>
            <div class="col-sm-10">
			<div id="emattachs" class="">
				{% for attachment in attachments %}
								
					<div><i class="fa fa-minus-circle"></i> {{ attachment.name }}<input type="hidden" name="attachments[]" value="{{ attachment.code }}" /></div>
				
				{% endfor %}
			</div>
			
			<button type="button" id="emfile-upload" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
				
				
				
            </div>
          </div>
		  
		</fieldset>  
		  
        </form>
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript"><!--
$('button[id^=\'emfile-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=emticket/emticketview/upload&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						 $('#emattachs').append('<div><i class="fa fa-minus-circle"></i> ' + json['filename'] + '<input type="hidden" name="attachments[]" value="' + json['code'] + '" /></div>');
						alert(json['success']);

						
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

 $('#emattachs').delegate('.fa-minus-circle', 'click', function () {
                            $(this).parent().remove();
    });
//--></script>
<script>
	$(function() {
		$('.cp1').colorpicker();
	});
</script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
{{ footer }}
<script src="view/stylesheet/mm-popup/dist/js/bootstrap-colorpicker.js"></script>